<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>

    <!-- Link to Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <!-- Link to Custom Stylesheet -->
    <link rel="stylesheet" href="../../../../assets/styles/custom.css">
    <!-- Link to Custom Stylesheet Production -->
    <link rel="stylesheet" href="../../../../../assets/styles/custom.css">
    <!-- Include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/a11y-annotations/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/a11y-annotations/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/a11y-annotations/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/a11y-annotations/assets/images/site.webmanifest">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">
</head>
<body>
  <!-- Insert Header -->
  <div id="header--container"></div>

  <div class="container-fluid">
      <div class="row">
          <!-- Includes the Sidebar Navigation using jQuery -->
          <div id="sidebar-container" class="col-md-2 border-end"></div>

          <!-- Main Content -->
          <main class="col-md-9" id="main-content" tabindex="-1">
            <!-- A11y Live Region -->
            <div aria-live="polite" id="page-live-region" class="visually-hidden"></div>
            <div class="container-xxl bd-gutter mt-3">
                <h1>Lists</h1>
                <!-- Begin Accordion -->
                <div class="accordion" id="accordionOpen">
                    <!-- Accordion Item One -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          WCAG Success Criteria Requirements and Examples
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" style="">
                        <div class="accordion-body">
                          <p>
                            <a href="https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships.html" target="_blank" rel="noopener noreferrer">1.3.1 Info and Relationships</a>
                            Information, structure, and relationships conveyed through presentation can be programmatically determined 
                            or are available in text.
                          </p>
                          <p>
                            Semantically marking up lists helps assistive technologies (such as screen readers) understand the structure and purpose of the content. For users who rely on 
                            these technologies, a list marked up as a list provides context and conveys that the items are related.</p>
                          <p>
                            Visually presented lists must be in semantic list markup to ensure the information and relationships are programmatically determinable. 
                          </p>
                          <p><strong>Note on VoiceOver:</strong> Voiceover has a known bug for not announcing unordered lists properly when either the list-style-type is set to none or display is set to inline.
                          One solution is to use ARIA roles list and listitem to restore the semantics or another is to use CSS. Please <a rel="noopener noreferrer" href="https://gerardkcohen.me/writing/2017/voiceover-list-style-type.html" target="_blank">see this article for eference and examples</a>.</p>
                          <h3>List Types</h3>
                          <ul>
                            <li>
                              <strong>Unordered List:</strong> 
                              A list of items that are listed in no particular order. 
                              Use <code>&lt;ul&gt;</code> to create an unordered list. 
                              List items are typically preceded by bullet points, though the visual representation may vary.
                            </li>
                            <li>
                              <strong>Ordered List:</strong> 
                              A list of items that are listed in a specific order, typically indicated by numbers, letters, or other markers. 
                              Use <code>&lt;ol&gt;</code> to create an ordered list. 
                              List items are automatically numbered or lettered.
                            </li>
                            <li>
                              <strong>Definition List:</strong> 
                              A list of terms and their corresponding definitions. 
                              Each term is represented using <code>&lt;dt&gt;</code> (definition term), and its definition is represented using <code>&lt;dd&gt;</code> (definition description). 
                              Use <code>&lt;dl&gt;</code> to create a definition list.
                            </li>
                            <li>
                              <strong>Nested Lists:</strong> 
                              Lists can be nested within other lists, allowing you to create hierarchical structures. 
                              Use <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> within another list item to create nested lists.
                            </li>
                          </ul>
                          <h3>Examples</h3>
                          <h4>Unordered List Type</h4>
                          <ul>
                            <li>Apples</li>
                            <li>Bananas</li>
                            <li>Oranges</li>
                          </ul>
                          <h4>Ordered List Type</h4>
                          <ol>
                            <li>Start with the basic stance.</li>
                            <li>Step forward with your right foot.</li>
                            <li>Twist to the left and raise your left hand.</li>
                            <li>Complete the routine with a spin.</li>
                          </ol>
                          <h4>Definition List Type</h4>
                          <dl>
                            <dt>Programming Languages:</dt>
                            <dd>Java - An object-oriented programming language.</dd>
                            <dd>Python - Known for its simplicity and readability.</dd>
                            <dt>Planets in the Solar System:</dt>
                            <dd>Earth - The third planet from the Sun.</dd>
                            <dd>Mars - Known as the "Red Planet."</dd>
                          </dl>
                          <h4>Nested Lists Type</h4>
                          <ul>
                            <li>
                              Travel Destinations:
                              <ul>
                                <li>Europe
                                  <ul>
                                    <li>France</li>
                                    <li>Italy</li>
                                    <li>Spain</li>
                                  </ul>
                                </li>
                                <li>Asia
                                  <ul>
                                    <li>Japan</li>
                                    <li>Thailand</li>
                                    <li>India</li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>  
                        </div>
                      </div>
                    </div>
                    <!-- Accordion Item Three Auditor -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          How to Test and Annotate
                          <!-- Auditor Tag -->
                          <span class="dev-tag ms-3">
                            Auditor 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path d="M14 7H19.6404C20.0877 7 20.3113 7 20.4421 7.09404C20.5562 7.17609 20.6306 7.30239 20.6469 7.442C20.6656 7.602 20.5569 7.79751 20.3397 
                                8.18851L18.9936 10.6115C18.9148 10.7533 18.8755 10.8242 18.86 10.8993C18.8463 10.9657 18.8463 11.0343 18.86 11.1007C18.8755 11.1758 18.9148 
                                11.2467 18.9936 11.3885L20.3397 13.8115C20.5569 14.2025 20.6656 14.398 20.6469 14.558C20.6306 14.6976 20.5562 14.8239 20.4421 14.906C20.3113 
                                15 20.0877 15 19.6404 15H12.6C12.0399 15 11.7599 15 11.546 14.891C11.3578 14.7951 11.2049 14.6422 11.109 14.454C11 14.2401 11 13.9601 11 
                                13.4V11M4 21L4 4M4 11H12.4C12.9601 11 13.2401 11 13.454 10.891C13.6422 10.7951 13.7951 10.6422 13.891 10.454C14 10.2401 14 9.96005 14 9.4V4.6C14 
                                4.03995 14 3.75992 13.891 3.54601C13.7951 3.35785 13.6422 3.20487 13.454 3.10899C13.2401 3 12.9601 3 12.4 3H5.6C5.03995 3 4.75992 3 4.54601 
                                3.10899C4.35785 3.20487 4.20487 3.35785 4.10899 3.54601C4 3.75992 4 4.03995 4 4.6V11Z" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                          </span>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" style="">
                        <div class="accordion-body">
                          <ol role="list">
                            <li>Use this <a target="_blank" href="https://www.figma.com/file/txsKugjRb6ALXDK4uKGcp1/A11y-Annotation-Kit---HHMI?type=design&node-id=0-1&mode=design&t=c6seYgq1nqTYby7h-0">A11y Annotation Kit</a>.</li>
                            <li>Identify all text the is grouped and styled as lists.</li>
                            <li>Decide which list type would be most appropriate by the text content.</li>
                            <li>Add a sticky note annotation by copying and pasting to define text as a list and indicate the correct list type.</li>
                            <li>For nested lists use additional tags to tag each nested list with the correct list type individually.</li>
                          </ol>
                          <ul class="list-unstyled inline-flex-images" role="list">
                            <li><img src="/assets/images/ul-list.png" alt="unordered list annotation tag"></li>
                            <li><img src="/assets/images/ol.png" alt="ordered list annotation tag"></li>
                            <li><img src="/assets/images/dl.png" alt="definition list annotation tag"></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- Accordion Item Four Developer-->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Accessibility Considerations
                          <!-- Developer Tag -->
                          <span class="dev-tag ms-3">
                            Developer 
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                            <path d="M16 18L22 12L16 6M8 6L2 12L8 18" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                          </span> 
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" style="">
                        <div class="accordion-body">
                          <p>Correctly coding lists is fundamental to web accessibility, ensuring compliance with WCAG 1.3.1. Lists that visually appear as such should be semantically marked up to reflect their structure and function. Follow these guidelines for implementing lists:</p>
                          <ul role="list">
                            <li><strong>Semantic Markup for Lists:</strong> Use the appropriate HTML list element for its purpose. An unordered list (<code>&lt;ul&gt;</code>) for items without a specific order, an ordered list (<code>&lt;ol&gt;</code>) for items that follow a sequence, and a description list (<code>&lt;dl&gt;</code>) for pairs of terms and descriptions.</li>
                            <li><strong>Consistent List Styling:</strong> Ensure that lists are styled in a manner that reflects their hierarchy and function. Use CSS to visually distinguish between different types of lists and their nested levels.</li>
                            <li><strong>Nesting Lists Properly:</strong> When lists are nested within other lists, make sure the nesting is logical and semantically correct. Each nested list should be contained within a list item (<code>&lt;li&gt;</code>) of the parent list.</li>
                            <li><strong>Use of Description Lists:</strong> Employ description lists (<code>&lt;dl&gt;</code>) for grouping together terms and their descriptions. This is particularly useful for glossaries, metadata presentations, or any scenario where a term needs to be associated with a description.</li>
                            <li><strong>Accessible List Markup:</strong> Beyond using the correct list type, ensure that additional attributes like ARIA roles and properties are applied as necessary to enhance the accessibility of complex list structures or when lists are used for navigation purposes.</li>
                          </ul>
                          <p>By adhering to these guidelines, developers can create list structures that are both meaningful and accessible, promoting better navigation and understanding of the content for all users, including those using assistive technologies.</p>                                                
                        </div>
                      </div>
                    </div>
                    <!-- Accordion Item Five Resources -->
                    <div class="accordion-item">
                      <h2 class="accordion-item" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Resources
                        </button>
                      </h2>
                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" style="">
                        <div class="accordion-body">
                          <ul role="list">
                            <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul" target="_blank" rel="noopener noreferrer">MDN Web Docs: Unordered List</a> - Comprehensive documentation on using unordered lists in HTML.</li>
                            <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol" target="_blank" rel="noopener noreferrer">MDN Web Docs: Ordered List</a> - Detailed information on ordered lists and their usage.</li>
                            <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl" target="_blank" rel="noopener noreferrer">MDN Web Docs: Definition List</a> - Documentation on creating definition lists in HTML.</li>
                            <li><a href="https://www.w3schools.com/html/html_lists.asp" target="_blank" rel="noopener noreferrer">W3 Schools</a> - HTML lists allow web developers to group a set of related items in lists.</li>
                            <li><a href="https://www.w3.org/TR/wai-aria-1.2/#list" target="_blank" rel="noopener noreferrer">WAI-ARIA 1.2 Specification: Lists</a> - Specifics on ARIA roles and attributes related to lists.</li>
                            <li><a href="https://www.w3.org/TR/wai-aria-practices-1.2/#list" target="_blank" rel="noopener noreferrer">WAI-ARIA Authoring Practices 1.2: List Widgets</a> - Practical examples and guidance for implementing accessible list widgets.</li>
                            <li><a href="https://www.w3.org/WAI/tutorials/page-structure/content/#lists" target="_blank" rel="noopener noreferrer">W3C WAI: Lists in Page Structure</a> - Tutorial on using lists to structure content effectively.</li>
                            <li><a href="https://gerardkcohen.me/writing/2017/voiceover-list-style-type.html" target="_blank" rel="noopener noreferrer">VoiceOver and list-style-type: none</li>
                          </ul>                                                                          
                        </div>
                      </div>
                    </div>                    
                  </div>
                  <!-- End Accordion -->
                </main>
              </div>
            </div>

    <!-- Script links and jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../../../assets/js/global.js"></script>
    <!-- Link to Bootstrap JavaScript from CDN (including Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

    <!-- Add sidebar navigation and header to the page -->
    <script>
      $(document).ready(function () {
           // Determine the paths relative to the root directory
           var sidebarPath = "../../sidebar-navigation.html";
           var headerPath = "../../header.html";
      
           // Use jQuery to load the sidebar-navigation.html file
           $("#sidebar-container").load(sidebarPath);
      
           // Use jQuery to load the header.html file
           $("#header--container").load(headerPath);
      });
    </script>

</body>
</html>
