<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resize Text</title>

    <!-- Link to Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <!-- Link to Custom Stylesheet -->
    <link rel="stylesheet" href="../../../../assets/styles/custom.css">
    <!-- Link to Custom Stylesheet Production -->
    <link rel="stylesheet" href="../../../../../assets/styles/custom.css">
    <!-- Include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
  <header class="d-block px-3 py-2 shadow">
    <img src="https://www.biointeractive.org/themes/gesso/images/hhmi-logo.svg" alt="hhmi Biointeractive logo" style="max-width: 320px;">
  </header>
  <div class="container-fluid">
      <div class="row">
          <!-- Includes the Sidebar Navigation using jQuery -->
          <div id="sidebar-container" class="col-md-2 border-end"></div>

          <!-- Main Content -->
          <main class="col-md-10">
            <!-- A11y Live Region -->
            <div aria-live="polite" id="page-live-region" class="visually-hidden"></div>
            <div class="container-xxl bd-gutter mt-3">
                <h1>Resize Text</h1>
                <!-- Begin Accordion -->
                <div class="accordion" id="accordionOpen">
                    <!-- Accordion Item One -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Standards SC 1.4.4 Level AA
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" style="">
                        <div class="accordion-body">
                          <p>Except for captions and images of text, text can be resized without assistive technology up to 200 percent without loss of content or functionality.</p>
                          <ul role="list">
                            <li><strong>Text Resize:</strong> Users must be able to resize text up to 200 percent.</li>
                            <li><strong>Content Availability:</strong> All meaningful content must remain available and not be obscured or cut off due to resizing.</li>
                            <li><strong>Functionality:</strong> The functionality of the website should not be compromised by the resizing of text.</li>
                            <li><strong>Responsive Design:</strong> Web design should be responsive to accommodate text scaling while preserving content and functionality.</li>
                        </ul>
                        </div>
                      </div>
                    </div>
                    <!-- Accordion Item Two -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          How to Test
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" style="">
                        <div class="accordion-body">
                          <ol role="list">
                            <li>Inspect Text Elements: Review all text elements on the Figma board to ensure they are not rasterized images of text but editable text elements. 
                              Images of text won't resize in the same way as text elements.</li>
                            <li>Responsive Design Check: Verify that the design layouts are responsive. This means that they should be able to adjust to different screen sizes 
                              and text sizes without losing content visibility or functionality. Ask for additional boards to demonstrate different screen sizes or text sizes, if applicable.</li>
                            <li>If elements transform on smaller screen sizes verify that there is no loss of meaningful content and pay attention to new content that may require
                               additional annotations. Examples: lists of footer links that transform into an accordion, info cards that tranform into a carousel, etc.
                            </li>
                          </ol>
                        </div>
                      </div>
                    </div>
                    <!-- Accordion Item Three -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Resize Text Failure
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" style="">
                        <div class="accordion-body">
                          <div class="d-inline-block border border-dark p-2 rounded">
                            <div class="d-flex flex-row">
                              <div class="text-to-copy">
                                <ul role="list">
                                  <li>Text is rezied and there is a loss of meaningful content</li>
                                  <li><i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i> Warning: all meaningful content must be available on all screen sizes.</li>
                                  <li>Recommendation: Use responsive design to ensure all meaningful content resizes without loss of content or functionality on all screen sizes.</li>
                                </ul>
                              </div>
                              <div>
                                  <button class="ml-1r btn copy-btn">
                                    <i class="bi bi-clipboard-heart-fill" aria-hidden="true"></i> Copy
                                  </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- Accordion Item Four -->
                    <div class="accordion-item">
                      <h2 class="accordion-item" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Resources
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" style="">
                        <div class="accordion-body">
                          <ul>
                            <li><a href="https://www.a11yproject.com/checklist/" target="_blank">The A11Y Project Checklist</a></li>
                            <li><a href="https://webaim.org/articles/zoom/" target="_blank">WebAIM: Zoom and Magnification</a></li>
                            <li><a href="https://www.sitepoint.com/responsive-typography-made-easy/" target="_blank">SitePoint: Responsive Typography Made Easy</a></li>
                            <li><a href="https://css-tricks.com/accessible-font-sizing-explained/" target="_blank">CSS-Tricks: Accessible Font Sizing Explained</a></li>
                            <li><a href="https://accessibility.18f.gov/scaling/ " target="_blank">18F Accessibility Guide: Scaling</a></li>
                        </ul>                                           
                        </div>
                      </div>
                    </div>
                    <!-- Accordion Item Five -->
                    <div class="accordion-item">
                      <h2 class="accordion-item" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        WCAG Guideline References
                        </button>
                      </h2>
                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" style="">
                        <div class="accordion-body">
                          <ul>
                            <li><a href="https://www.w3.org/TR/WCAG21/#resize-text" target="_blank">WCAG 2.1 Success Criterion 1.4.4 Resize Text</a></li>
                            <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/resize-text.html" target="_blank">Understanding Success Criterion 1.4.4: Resize Text</a></li>
                          </ul>                        
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Accordion -->
                </main>
              </div>
            </div>

      <!-- Script links and jQuery CDN -->
      <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
      <script src="../../../assets/js/global.js"></script>
      <!-- Link to Bootstrap JavaScript from CDN (including Popper.js) -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
  
      <!-- Add sidebar navigation to page -->
      <script>
        $(document).ready(function () {
            // Determine the path relative to the root directory
            var rootRelativePath = "../../sidebar-navigation.html";
    
            // Use jQuery to load the sidebar-navigation.html file
            $("#sidebar-container").load(rootRelativePath);
        });
      </script>
</body>
</html>
