/* Global Styles */
body {
  font-family: Arial, Helvetica, sans-serif
}
button:focus-visible,
a:focus-visible {
  outline: 2px solid black !important;
  outline-offset: 2px !important;
  box-shadow: none !important;
}

/* Color Variables */
:root {
    --primary-teal: #058d96;
    --primary-green: #00a450;
    --secondary-green: #52b448;
    --accent-green: #8ac341;
  }

/* Style Overrides */
a {
  color: var(--primary-teal);
}
.text-left {
  text-align: left !important;
}

/* Sidebar Navigation */
.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: var(--accent-green);
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--accent-green);
  }
  #sidebar-container {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.205)!important;
    padding-top: 1.25rem;
  }

  /* Copy Button */
  .copy-btn {
    background-color: var(--secondary-green);
  }
  .copy-btn:hover,
  .copy-btn:focus {
    border: 1px solid black;
  }

  
  /*** Layout Spacing ***/
  h1, h2, h3, h4, h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .ml-1r {
    margin-left: 1rem;
  }
  .space-large{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* Accordion Overrides */
  .accordion-item {
    border: none !important;
  }
  .accordion-button {
    border: #3779b5 solid !important;
  }
  .accordion-button:not(.collapsed) {
    color: #3779b5 !important;
  }

  /* Code */
  .code-tag {
    font-weight: 600;
    color: #8B307F;
  }

  /* Tables */
  .table {
    border-color: dimgrey;
  }

  /* Lists */
  .list-unstyled {
    list-style-type: none;
  }

  /* Custom CSS for evenly spaced images */
  .inline-flex-images {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .inline-flex-images li {
    padding: 8px;
  }

  /* Example buttons */
  .example-list-button {
    background-color: #178387;
    border: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.875rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    line-height: 1.25;
    padding: .75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: .25rem;
  }

  .dev-tag {
    padding: 3px 8px;
    border: 3px solid var(--primary-teal);
    border-radius: 8px;
    color: rgba(0, 0, 0, .85);
    font-weight: 600;
    width: fit-content;
}
p.dev-tag {
  font-size: 1.25rem;
}

/* Custom Checkboxes */

.custom-checkbox {
  display: inline-block;
  height: 24px;
  width: 24px;
  position: relative;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.custom-checkbox span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 1px solid #000; /* Border color */
}

.custom-checkbox input[type="checkbox"]:checked + span {
  background-color: transparent;
}

.custom-checkbox input[type="checkbox"]:checked + span:after {
  content: '\2713';
  position: absolute;
  color: green; /* Check mark color */
  font-size: 32px;
  left: 0px;
  top: -18px;
}

/* Centering Checkboxes in Table Cells */
  .checkbox-td {
    text-align: center; /* Centers content horizontally */
    vertical-align: middle; /* Centers content vertically */
  }

/* Tables */
.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd; /* Adds border to each cell */
  padding: 8px; /* Adds padding inside each cell */
  text-align: left;
}

.styled-table thead {
  background-color: #f2f2f2; /* Adds a background color to the table header */
}

.styled-table th {
  font-weight: bold;
}

/* Zebra Stripes for Table Rows */
.styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Link vs Button Call out styles */
.btn-vs-link-parent {
  display: flex;
  flex-direction: column;
  
}
.btn-vs-link-child {
  margin-left: auto;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  border: 2px solid var(--accent-green);
  padding: 15px;
  background-color: #8ac24138;
}
.btn-vs-link-child h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.btn-vs-link-child small {
  font-size: .75em;
  font-family: system-ui;
}
