<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auditor Resources</title>

    <!-- Link to Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <!-- Link to Custom Stylesheet -->
    <link rel="stylesheet" href="../../../assets/styles/custom.css">
    <!-- Link to Custom Stylesheet Production -->
    <link rel="stylesheet" href="../../../../assets/styles/custom.css">
    <!-- Include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/a11y-annotations/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/a11y-annotations/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/a11y-annotations/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/a11y-annotations/assets/images/site.webmanifest">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">
</head>
<body>
  <header class="d-block px-3 py-2 shadow">
    <img src="https://www.biointeractive.org/themes/gesso/images/hhmi-logo.svg" alt="hhmi Biointeractive logo" style="max-width: 320px;">
  </header>
  <div class="container-fluid">
    <div class="row">
      <!-- Includes the Sidebar Navigation using jQuery -->
      <div id="sidebar-container" class="col-md-2 border-end"></div>

      <!-- Main Content -->
      <main class="col-md-9">
        <!-- A11y Live Region -->
        <div aria-live="polite" id="page-live-region" class="visually-hidden"></div>
        <div class="container-xxl bd-gutter mt-3">
          <div class="instructions mb-5">
            <h1>Auditor Resources</h1>
          </div> 
          <div>
          <div>
            <h2>Figma Plugins</h2>
            <ul>
              <li><a href="https://www.figma.com/community/plugin/733159460536249875/ABLE-Accessibility-Checker" target="_blank">ABLE - Figma Accessibility Checker</a></li>
              <li><a href="https://www.figma.com/community/plugin/733853710329268439/Stark" target="_blank">Stark - Suite of Integrated Accessibility Tools</a></li>
              <li><a href="https://www.figma.com/community/plugin/1085612091163821851/axe-for-designers-a-free-accessibility-plugin" target="_blank">axe for Designers: A Free Accessibility Plugin</a></li>
              <li><a href="https://www.figma.com/community/plugin/1373362852131056921/wcag-plugin" target="_blank">WCAG Plugin</a></li>
              <li><a href="https://www.figma.com/community/plugin/1208180794570801545/includeaccessibility-annotations" target="_blank">Include—Accessibility Annotations</a></li>
            </ul>
          
            <h2>Developer Extensions and Browser Extensions</h2>
            <ul>
              <li><a href="https://www.deque.com/axe/" target="_blank">Deque Axe</a> - Accessibility testing tool for web applications.</li>
              <li><a href="https://www.tpgi.com/color-contrast-checker/" target="_blank">TPGi Color Contrast Analyzer</a> - Downloadable application for color contrast checking.</li>
              <li><a href="https://chrome.google.com/webstore/detail/axe-devtools-web-accessibil/lhdoppojpmngadmnindnejefpokejbdd" target="_blank">Axe DevTools - Chrome Extension</a></li>
              <li><a href="https://chrome.google.com/webstore/detail/color-contrast-analyzer/aagjbjabglllchfnjcnlneoifnkdikgl" target="_blank">Color Contrast Analyzer - Chrome Extension</a></li>
              <li><a href="https://accessibilityinsights.io/" target="_blank">Accessibility Insights for Web</a> - Chrome and Edge extension for accessibility testing.</li>
              <li><a href="https://chrome.google.com/webstore/detail/arc-toolkit/lgcbalnceacejhibkkhkcjclkkfhddam" target="_blank">ARC Toolkit - Chrome Extension</a></li>
              <li><a href="https://web.dev/lighthouse-accessibility/" target="_blank">Lighthouse - Accessibility Testing Tool</a></li>
              <li><a href="https://spark.orange.com/" target="_blank">Spark Accessibility Suite</a></li>
            </ul>
          
            <h2>Automated Testing Tools</h2>
            <ul>
              <li><a href="https://www.deque.com/tools/axe/" target="_blank">Deque Axe</a></li>
              <li><a href="https://wave.webaim.org/" target="_blank">WAVE Web Accessibility Evaluation Tool</a></li>
              <li><a href="https://www.tpgi.com/arc-platform/" target="_blank">TPGi ARC Platform</a></li>
              <li><a href="https://web.dev/lighthouse/" target="_blank">Google Lighthouse</a></li>
              <li><a href="https://wave.webaim.org/extension/" target="_blank">WAVE Chrome and Firefox Extensions</a></li>
            </ul>
          
            <h2>Screen Readers</h2>
            <ul>
              <li><a href="https://www.nvaccess.org/download/" target="_blank">NVDA (NonVisual Desktop Access)</a> - <a href="https://www.nvaccess.org/about/nvda-features/" target="_blank">NVDA Features and Usage</a></li>
              <li><a href="https://support.apple.com/guide/voiceover/welcome/mac" target="_blank">VoiceOver for macOS</a> - <a href="https://support.apple.com/guide/voiceover/voiceover-get-started-guide-mchlp2711/mac" target="_blank">VoiceOver Getting Started Guide</a></li>
              <li><a href="https://www.freedomscientific.com/products/software/jaws/" target="_blank">JAWS (Job Access With Speech)</a> - <a href="https://www.freedomscientific.com/Training/JAWS-training-downloads.asp" target="_blank">JAWS Training Downloads</a></li>
              <li><a href="https://www.microsoft.com/en-us/accessibility/windows" target="_blank">Windows Narrator</a> - <a href="https://support.microsoft.com/en-us/help/22798/windows-10-complete-guide-to-narrator" target="_blank">Narrator User Guide</a></li>
            </ul>
          
            <h2>Screen Magnification Software</h2>
            <ul>
              <li><a href="https://www.freedomscientific.com/products/software/zoomtext/" target="_blank">ZoomText</a> - <a href="https://www.freedomscientific.com/Training/ZoomText-training-downloads.asp" target="_blank">ZoomText Training Resources</a></li>
              <li><a href="https://www.aisquared.com/zoomtext/magnifierreader" target="_blank">ZoomText Magnifier/Reader</a></li>
              <li><a href="https://www.microsoft.com/en-us/accessibility" target="_blank">Microsoft Ease of Access</a> - <a href="https://support.microsoft.com/en-us/help/11542/windows-use-magnifier" target="_blank">Microsoft Magnifier Guide</a></li>
            </ul>
          
            <h2>Accessibility Checklists</h2>
            <ul>
              <li><a href="https://www.w3.org/WAI/WCAG22/quickref/?versions=2.1" target="_blank">W3C WCAG 2.1 Quick Reference</a></li>
              <li><a href="https://webaim.org/standards/wcag/checklist" target="_blank">WebAIM WCAG 2.1 Checklist</a></li>
              <li><a href="https://www.tpgi.com/wcag-checklist/" target="_blank">TPGi WCAG Compliance Checklist</a></li>
              <li><a href="https://www.deque.com/blog/wcag-2-1-checklist/" target="_blank">Deque WCAG 2.1 Checklist</a></li>
            </ul>    

            <h2>Color Tools</h2> 
            <ul>
              <li><a href="https://www.figma.com/community/plugin/733159460536249875/ABLE-Accessibility-Checker" target="_blank">ABLE - Figma Accessibility Checker</a></li>
              <li><a href="https://webaim.org/resources/contrastchecker/" target="_blank">WebAIM Contrast Checker</a></li>
              <li><a href="https://www.stark.co/" target="_blank">Stark - Color Blind Simulator and Contrast Checker</a></li>
              <li><a href="https://usecontrast.com/" target="_blank">Contrast - A macOS app for quick access to WCAG color contrast ratios</a></li>
              <li><a href="https://www.stark.co/" target="_blank">Stark - Suite of integrated accessibility tools for your product design and development teams</a></li>
              <li><a href="https://www.tpgi.com/color-contrast-checker/" target="_blank">Downloadable App - TPGi's Color Contrast Analyzer</a></li>
              <li><a href="https://webaim.org/resources/contrastchecker/" target="_blank">WebAIM Contrast Checker Webpage</a></li>
              <li><a href="https://chrome.google.com/webstore/detail/color-contrast-analyzer/aagjbjabglllchfnjcnlneoifnkdikgl" target="_blank">Color Contrast Analyzer - Chrome Extension</a></li>
              <li><a href="https://colororacle.org/" target="_blank">Color Oracle - Color Blindness Simulator for Windows, Mac, and Linux</a></li>
              <li><a href="https://www.adobe.com/accessibility/color-contrast.html" target="_blank">Adobe Color Contrast Analyzer</a></li>
              <li><a href="https://contrastchecker.com/" target="_blank">Contrast Checker - Easily check and adjust contrast ratios</a></li>
              <li><a href="https://color.a11y.com/" target="_blank">Accessibility Color Wheel - Check color combinations for accessibility</a></li>
              <li><a href="https://axesslab.com/tools/color-contrast/" target="_blank">Axess Lab's Color Contrast Tools</a></li>
              <li><a href="https://www.microsoft.com/design/fluent/#/web" target="_blank">Microsoft Fluent Design System - Accessibility Insights</a></li>
              <li><a href="https://material.io/resources/color/#!/?view.left=0&view.right=0" target="_blank">Material Design Color Tool - Interactive color palette tool</a></li>
              <li><a href="https://contrast-grid.eightshapes.com/?version=1.1.0&background-colors=&foreground-colors=%23FFFFFF%2C%20White%0D%0A%23F2F2F2%0D%0A%23DDDDDD%0D%0A%23CCCCCC%0D%0A%23888888%0D%0A%23404040%2C%20Charcoal%0D%0A%23000000%2C%20Black%0D%0A%232F78C5%2C%20Effective%20on%20Extremes%0D%0A%230F60B6%2C%20Effective%20on%20Lights%0D%0A%23398EEA%2C%20Ineffective%0D%0A&es-color-form__tile-size=compact&es-color-form__show-contrast=aaa&es-color-form__show-contrast=aa&es-color-form__show-contrast=aa18&es-color-form__show-contrast=dnp" target="_blank">Contrast Grid by EightShapes</a></li>
            </ul>            
          </div> 
        </div>  
      </main>
    </div>
  </div>

   <!-- Script links and jQuery CDN -->
   <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
   <script src="../../assets/js/global.js"></script>
   <!-- Link to Bootstrap JavaScript from CDN (including Popper.js) -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

   <!-- Add sidebar navigation to page -->
   <script>
     $(document).ready(function () {
         // Determine the path relative to the root directory
         var rootRelativePath = "../sidebar-navigation.html";
 
         // Use jQuery to load the sidebar-navigation.html file
         $("#sidebar-container").load(rootRelativePath);
     });
   </script>
</body>
</html>
