<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Resources</title>

    <!-- Link to Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <!-- Link to Custom Stylesheet -->
    <link rel="stylesheet" href="../../../assets/styles/custom.css">
    <!-- Link to Custom Stylesheet Production -->
    <link rel="stylesheet" href="../../../../assets/styles/custom.css">
    <!-- Include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/a11y-annotations/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/a11y-annotations/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/a11y-annotations/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/a11y-annotations/assets/images/site.webmanifest">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">
</head>
<body>
  <header class="d-block px-3 py-2 shadow">
    <img src="https://www.biointeractive.org/themes/gesso/images/hhmi-logo.svg" alt="hhmi Biointeractive logo" style="max-width: 320px;">
  </header>
  <div class="container-fluid">
    <div class="row">
      <!-- Includes the Sidebar Navigation using jQuery -->
      <div id="sidebar-container" class="col-md-2 border-end"></div>

      <!-- Main Content -->
      <main class="col-md-10">
        <!-- A11y Live Region -->
        <div aria-live="polite" id="page-live-region" class="visually-hidden"></div>
        <div class="container-xxl bd-gutter mt-3">
          <div class="instructions mb-5">
            <h1>Design Resources</h1>
          </div> 
          <div>
            <h2>Accessibility Basics for Designers</h2>
            <ul>
              <li><a href="https://www.w3.org/WAI/fundamentals/accessibility-intro/" target="_blank">W3C Introduction to Web Accessibility</a></li>
              <li><a href="https://www.a11yproject.com/" target="_blank">A11Y Project</a></li>
              <li><a href="https://www.invisionapp.com/inside-design/designing-for-accessibility/" target="_blank">InVision: Designing for Accessibility</a></li>
            </ul>            
            <h2>Design Tools and Checklists</h2> 
            <ul>
              <li><a href="https://www.figma.com/community/plugin/733159460536249875/ABLE-Accessibility-Checker" target="_blank">ABLE - Figma Accessibility Checker</a></li>
              <li><a href="https://webaim.org/resources/contrastchecker/" target="_blank">WebAIM Contrast Checker</a></li>
              <li><a href="https://www.stark.co/" target="_blank">Stark - Color Blind Simulator and Contrast Checker</a></li>
              <li><a href="https://usecontrast.com/" target="_blank">Contrast - A macOS app for quick access to WCAG color contrast ratios</a></li>
              <li><a href="https://www.stark.co/" target="_blank">Stark - Suite of integrated accessibility tools for your product design and development teams</a></li>
              <li><a href="https://www.tpgi.com/color-contrast-checker/" target="_blank">Downloadable App - TPGi's Color Contrast Analyzer</a></li>
              <li><a href="https://webaim.org/resources/contrastchecker/" target="_blank">WebAIM Contrast Checker Webpage</a></li>
              <li><a href="https://chrome.google.com/webstore/detail/color-contrast-analyzer/aagjbjabglllchfnjcnlneoifnkdikgl" target="_blank">Color Contrast Analyzer - Chrome Extension</a></li>
              <li><a href="https://colororacle.org/" target="_blank">Color Oracle - Color Blindness Simulator for Windows, Mac, and Linux</a></li>
              <li><a href="https://www.adobe.com/accessibility/color-contrast.html" target="_blank">Adobe Color Contrast Analyzer</a></li>
              <li><a href="https://contrastchecker.com/" target="_blank">Contrast Checker - Easily check and adjust contrast ratios</a></li>
              <li><a href="https://color.a11y.com/" target="_blank">Accessibility Color Wheel - Check color combinations for accessibility</a></li>
              <li><a href="https://axesslab.com/tools/color-contrast/" target="_blank">Axess Lab's Color Contrast Tools</a></li>
              <li><a href="https://www.microsoft.com/design/fluent/#/web" target="_blank">Microsoft Fluent Design System - Accessibility Insights</a></li>
              <li><a href="https://material.io/resources/color/#!/?view.left=0&view.right=0" target="_blank">Material Design Color Tool - Interactive color palette tool</a></li>
              <li><a href="https://contrast-grid.eightshapes.com/?version=1.1.0&background-colors=&foreground-colors=%23FFFFFF%2C%20White%0D%0A%23F2F2F2%0D%0A%23DDDDDD%0D%0A%23CCCCCC%0D%0A%23888888%0D%0A%23404040%2C%20Charcoal%0D%0A%23000000%2C%20Black%0D%0A%232F78C5%2C%20Effective%20on%20Extremes%0D%0A%230F60B6%2C%20Effective%20on%20Lights%0D%0A%23398EEA%2C%20Ineffective%0D%0A&es-color-form__tile-size=compact&es-color-form__show-contrast=aaa&es-color-form__show-contrast=aa&es-color-form__show-contrast=aa18&es-color-form__show-contrast=dnp" target="_blank">Contrast Grid by EightShapes</a></li>
            </ul>            
            <h2>Articles and Learning Materials</h2> 
            <ul>
              <li><a href="https://stephaniewalter.design/blog/designing-for-accessibility-the-ultimate-in-inclusive-and-user-centric-design/" target="_blank">Designing for Accessibility: The Ultimate in Inclusive and User-Centric Design</a></li>
              <li><a href="https://uxdesign.cc/how-to-conduct-an-accessibility-review-d63f09e3b07f" target="_blank">How to Conduct an Accessibility Review</a></li>
              <li><a href="https://www.a11yproject.com/" target="_blank">A11Y Project - A community-driven effort to make web accessibility easier</a></li>
              <li><a href="https://www.smashingmagazine.com/category/accessibility/" target="_blank">Smashing Magazine Accessibility Articles</a></li>
              <li><a href="https://uxdesign.cc/designing-for-accessibility-the-ultimate-guide-9815c6dd77bf" target="_blank">Designing for Accessibility: The Ultimate Guide (UX Design)</a></li>
            </ul>            
            <h2>Advanced Topics and Techniques</h2>  
            <ul>
              <li><a href="https://www.smashingmagazine.com/2021/03/complete-guide-accessible-front-end-components/" target="_blank">Smashing Magazine: Complete Guide to Accessible Front-End Components</a></li>
              <li><a href="https://axesslab.com/alt-texts/" target="_blank">Axess Lab: How to Write Accessible Alt Texts</a></li>
            </ul> 
            <h2>Additional Design Resource Links</h2> 
            <ul>
              <li><a href="https://axesslab.com/" target="_blank">Axess Lab - Accessibility Blog</a></li>
              <li><a href="https://www.invisionapp.com/inside-design/category/accessibility/" target="_blank">InVision Accessibility Blog</a></li>
              <li><a href="https://www.deque.com/tools/" target="_blank">Deque Systems Tools</a> - Offers a range of accessibility tools including the well-known aXe accessibility testing tool.</li>
              <li><a href="https://www.deque.com/blog/" target="_blank">Deque Blog</a> - Provides insightful articles on various aspects of digital accessibility, useful for both designers and developers.</li>
            </ul>
            <h2>Navigation</h2>   
            <ul>
              <li><a href="https://getbootstrap.com/docs/5.1/components/navbar/" target="_blank">Bootstrap Navbar Documentation</a></li>
              <li><a href="https://webaim.org/techniques/css/invisiblecontent/" target="_blank">WebAIM: Invisible Content Just for Screen Reader Users</a></li>
              <li><a href="https://www.w3.org/WAI/tutorials/menus/" target="_blank">W3C WAI: Menus Tutorial</a></li>
              <li><a href="https://a11yproject.com/patterns/#navigation" target="_blank">The A11Y Project: Navigation Patterns</a></li>
              <li><a href="https://www.smashingmagazine.com/2017/11/building-accessible-menu-systems/" target="_blank">Smashing Magazine: Building Accessible Menu Systems</a></li>
              <li><a href="https://inclusive-components.design/menus-menu-buttons/" target="_blank">Inclusive Components: Menus & Menu Buttons</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Navigation_Role" target="_blank">MDN Web Docs: ARIA Navigation Role</a></li>
              <li><a href="https://uxdesign.cc/designing-accessible-navigation-8afb4f9754" target="_blank">Designing Accessible Navigation - UX Design</a></li>
            </ul>
          </div> 
        </div>  
      </main>
    </div>
  </div>

   <!-- Script links and jQuery CDN -->
   <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
   <script src="../../assets/js/global.js"></script>
   <!-- Link to Bootstrap JavaScript from CDN (including Popper.js) -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

   <!-- Add sidebar navigation to page -->
   <script>
     $(document).ready(function () {
         // Determine the path relative to the root directory
         var rootRelativePath = "../sidebar-navigation.html";
 
         // Use jQuery to load the sidebar-navigation.html file
         $("#sidebar-container").load(rootRelativePath);
     });
   </script>
</body>
</html>
