<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Resources</title>

    <!-- Link to Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <!-- Link to Custom Stylesheet -->
    <link rel="stylesheet" href="../../../assets/styles/custom.css">
    <!-- Link to Custom Stylesheet Production -->
    <link rel="stylesheet" href="../../../../assets/styles/custom.css">
    <!-- Include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/a11y-annotations/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/a11y-annotations/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/a11y-annotations/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/a11y-annotations/assets/images/site.webmanifest">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">
</head>
<body>
  <header class="d-block px-3 py-2 shadow">
    <img src="https://www.biointeractive.org/themes/gesso/images/hhmi-logo.svg" alt="hhmi Biointeractive logo" style="max-width: 320px;">
  </header>
  <div class="container-fluid">
    <div class="row">
      <!-- Includes the Sidebar Navigation using jQuery -->
      <div id="sidebar-container" class="col-md-2 border-end"></div>

      <!-- Main Content -->
      <main class="col-md-9">
        <!-- A11y Live Region -->
        <div aria-live="polite" id="page-live-region" class="visually-hidden"></div>
        <div class="container-xxl bd-gutter mt-3">
          <div class="instructions mb-5">
            <h1>General Resources</h1>
          </div> 
          <div>
            <h2>Guidelines and Standards</h2>
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/" target="_blank">WCAG Understanding Documents</a></li>
                <li><a href="https://www.w3.org/WAI/" target="_blank">W3C Web Accessibility Initiative (WAI)</a></li>
                <li><a href="https://www.w3.org/WAI/ARIA/apg/" target="_blank">ARIA Authoring Practices (APG) Patterns</a></li>
                <li><a href="https://www.w3.org/TR/wai-aria/" target="_blank">WAI-ARIA Specifications</a></li>
                <li><a href="https://www.accessibilityassociation.org/" target="_blank">International Association of Accessibility Professionals (IAAP)</a></li>
                <li><a href="https://webaim.org/resources/" target="_blank">WebAIM (Web Accessibility In Mind) Resources</a></li>
                <li><a href="https://a11yproject.com/resources" target="_blank">A11Y Project Resources</a></li>
                <li><a href="https://www.deque.com/resources/" target="_blank">Deque Resources</a></li>
            </ul>
            <h3>Structure</h3>
            <h4>Page</h4>
            <ul>
                <li><a href="https://blog.equally.ai/1-3-2-meaningful-sequence-level-a/" target="_blank" rel="noopener noreferrer">1.3.2 Meaningful Sequence (WCAG 2.0 A) - Equally AI Blog</a></li>
                <li><a href="https://wcag.com/designers/1-3-4-orientation/" target="_blank" rel="noopener noreferrer">1.3.4 Orientation (WCAG 2.1 AA) - WCAG.com</a></li>
                <li><a href="https://webaim.org/techniques/page_structure/" target="_blank" rel="noopener noreferrer">WebAIM - Page Structure</a></li>
                <li><a href="https://www.w3.org/WAI/tutorials/page-structure/" target="_blank" rel="noopener noreferrer">W3C WAI - Page Structure Tutorial</a></li>
                <li><a href="https://www.deque.com/resources/aria/" target="_blank" rel="noopener noreferrer">Deque - ARIA Resources</a></li>
                <li><a href="https://www.pearson.com/accessible-assessments/meaningful-sequence.html" target="_blank" rel="noopener noreferrer">Pearson - Meaningful Sequence</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=141#bypass-blocks" target="_blank" rel="noopener noreferrer">W3C - Bypass Blocks</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=141#page-titled" target="_blank" rel="noopener noreferrer">W3C - Page Titled</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=141#multiple-ways" target="_blank" rel="noopener noreferrer">W3C - Multiple Ways</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=141#language-of-page" target="_blank" rel="noopener noreferrer">W3C - Language of Page</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=141#language-of-parts" target="_blank" rel="noopener noreferrer">W3C - Language of Parts</a></li>
            </ul>

            <h4>Text</h4>
            <ul>
              <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html" target="_blank">W3C Web Accessibility Initiative: Text Spacing</a></li>
              <li><a href="https://webaim.org/techniques/fonts/" target="_blank">WebAIM: Fonts</a></li>
              <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html" target="_blank">W3C Web Accessibility Initiative: Contrast Minimum</a></li>
              <li><a href="https://www.nngroup.com/articles/typography/" target="_blank">Nielsen Norman Group: Typography</a></li>
              <li><a href="https://www.smashingmagazine.com/guidelines-for-responsive-web-design/" target="_blank">Smashing Magazine: Web Typography</a></li>
            </ul>
            <h4>Landmarks</h4>
            <ul role="list">
              <li><a href="https://www.w3.org/TR/wai-aria-1.2/#landmarks" target="_blank" rel="noopener noreferrer">WAI-ARIA 1.2 Specification: Landmarks</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/landmark" target="_blank" rel="noopener noreferrer">MDN Web Docs: HTML Landmark Elements</a></li>
              <li><a href="https://www.w3.org/WAI/ARIA/apg/patterns/landmarks/" target="_blank" rel="noopener noreferrer">WAI-ARIA Authoring Practices 1.2: Landmark Regions</a></li>
              <li><a href="https://dequeuniversity.com/checklists/web/landmarks" target="_blank" rel="noopener noreferrer">Deque University: Web Accessibility Checklist - Landmarks</a></li>
              <li><a href="https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=141#landmark-regions" target="_blank" rel="noopener noreferrer">W3C WCAG Quick Reference - Landmark Regions</a></li>
              <li><a href="https://webaim.org/techniques/aria/#landmarks" target="_blank" rel="noopener noreferrer">WebAIM: ARIA Landmarks</a></li>
            </ul>
            <h4>Headings</h4>
            <ul role="list">
              <li><a href="https://dequeuniversity.com/checklists/web/landmarks" target="_blank" rel="noopener noreferrer">Deque University: Web Accessibility Checklist - Links</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements" target="_blank" rel="noopener noreferrer">MDN Web Docs: HTML Heading Elements</a></li>
              <li><a href="https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=141" target="_blank" rel="noopener noreferrer">WCAG 2.1 Techniques for Headings</a></li>
              <li><a href="https://webaim.org/techniques/hypertext/" target="_blank" rel="noopener noreferrer">WebAIM: Links and Hypertext</a></li>
              <li><a href="https://www.a11yproject.com/posts/2021-01-06-what-are-html-headings-for/" target="_blank" rel="noopener noreferrer">The A11Y Project: What Are HTML Headings For?</a></li>
              <li><a href="https://developer.paciellogroup.com/blog/2013/01/html5-accessibility-chops-headings/" target="_blank" rel="noopener noreferrer">The Paciello Group: HTML5 Accessibility Chops - Headings</a></li>
              <li><a href="https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=141#link-purpose" target="_blank" rel="noopener noreferrer">W3C WCAG 2.1 - Link Purpose (2.4.4)</a></li>
            </ul>          
            <h4>Lists</h4>
            <ul role="list">
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul" target="_blank" rel="noopener noreferrer">MDN Web Docs: Unordered List</a> - Comprehensive documentation on using unordered lists in HTML.</li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol" target="_blank" rel="noopener noreferrer">MDN Web Docs: Ordered List</a> - Detailed information on ordered lists and their usage.</li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl" target="_blank" rel="noopener noreferrer">MDN Web Docs: Definition List</a> - Documentation on creating definition lists in HTML.</li>
              <li><a href="https://www.w3schools.com/html/html_lists.asp" target="_blank" rel="noopener noreferrer">W3 Schools</a> - HTML lists allow web developers to group a set of related items in lists.</li>
              <li><a href="https://webaim.org/techniques/lists/" target="_blank" rel="noopener noreferrer">WebAIM: Lists and Accessibility</a> - Guidance on creating accessible lists and best practices for list semantics.</li>
              <li><a href="https://www.w3.org/TR/wai-aria-1.2/#list" target="_blank" rel="noopener noreferrer">WAI-ARIA 1.2 Specification: Lists</a> - Specifics on ARIA roles and attributes related to lists.</li>
              <li><a href="https://www.w3.org/TR/wai-aria-practices-1.2/#list" target="_blank" rel="noopener noreferrer">WAI-ARIA Authoring Practices 1.2: List Widgets</a> - Practical examples and guidance for implementing accessible list widgets.</li>
              <li><a href="https://www.deque.com/blog/accessible-content-using-lists/" target="_blank" rel="noopener noreferrer">Deque: Accessible Content Using Lists</a> - Best practices for creating accessible lists.</li>
              <li><a href="https://www.w3.org/WAI/tutorials/page-structure/content/#lists" target="_blank" rel="noopener noreferrer">W3C WAI: Lists in Page Structure</a> - Tutorial on using lists to structure content effectively.</li>
              <li><a href="https://gerardkcohen.me/writing/2017/voiceover-list-style-type.html" target="_blank" rel="noopener noreferrer">VoiceOver and list-style-type: none</a> - explantion of Voiceover list bug</li>
            </ul>
          
            <h3>Color</h3>
            <h4>Use of Color</h4>
            <ul role="list">
              <li><a href="https://www.vischeck.com/" target="_blank" rel="noopener noreferrer">Vischeck</a></li>
              <li><a href="http://colorlab.wickline.org/colorblind/colorlab/" target="_blank" rel="noopener noreferrer">AWARE Color Laboratory</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Color_blindness" target="_blank" rel="noopener noreferrer">Wikipedia: Color Blindness</a></li>
              <li><a href="https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide-chromium/accessibility/test-color-blindness" target="_blank" rel="noopener noreferrer">Microsoft: Verify that a page is usable by people with color blindness</a></li>
              <li><a href="http://www.webexhibits.org/causesofcolor/2C.html" target="_blank" rel="noopener noreferrer">Causes of Color: How do people inherit colorblindness? How often?: Genetics</a></li>
              <li><a href="https://jfly.uni-koeln.de/color/" target="_blank" rel="noopener noreferrer">How to make figures and presentations that are friendly to Colorblind people</a></li>
              <li><a href="https://colortutorial.design/tutor.html" target="_blank" rel="noopener noreferrer">The Color Tutor application</a></li>
              <li><a href="https://www.section508.gov/" target="_blank" rel="noopener noreferrer">Section 508: Use of Color</a> - Guidelines on not using color alone to convey information.</li>
              <li><a href="https://webaim.org/articles/contrast/" target="_blank" rel="noopener noreferrer">WebAIM: Contrast and Color Accessibility</a> - Information on color contrast and alternatives to using color alone.</li>
              <li><a href="https://dap.berkeley.edu/" target="_blank" rel="noopener noreferrer">UC Berkeley: Digital Accessibility</a> - Best practices for using color and ensuring accessibility.</li>
              <li><a href="https://instructionaldesignthatworks.com/" target="_blank" rel="noopener noreferrer">Instructional Design That Works: Effective Use of Color</a> - Tips on using color effectively and providing alternatives.</li>
              <li><a href="https://digitalaccessibility.leeds.ac.uk/" target="_blank" rel="noopener noreferrer">University of Leeds: Styling Text</a> - Guidance on using bold, underlining, and other visual indicators besides color.</li>
            </ul>          
            <h4>Text Color Contrast</h4>
            <ul>
              <li><a href="https://www.tpgi.com/color-contrast-checker/" target="_blank">Downloadable App - TPGi's Color Contrast Analyzer</a></li>
              <li><a href="https://webaim.org/resources/contrastchecker/" target="_blank">WebAIM Contrast Checker Webpage</a></li>
              <li><a href="https://www.figma.com/community/plugin/734693888346260052/able-friction-free-accessibility" target="_blank">Able - Friction free accessibility, Figma Plugin</a></li>
              <li><a href="https://usecontrast.com/" target="_blank">Use Contrast - Figma Plugin & macOS App</a></li>
              <li><a href="https://chrome.google.com/webstore/detail/color-contrast-analyzer/aagjbjabglllchfnjcnlneoifnkdikgl" target="_blank">Color Contrast Analyzer - Chrome Extension</a></li>
              <li><a href="https://colororacle.org/" target="_blank">Color Oracle - Color Blindness Simulator for Windows, Mac, and Linux</a></li>
              <li><a href="https://www.adobe.com/accessibility/color-contrast.html" target="_blank">Adobe Color Contrast Analyzer</a></li>
              <li><a href="https://contrastchecker.com/" target="_blank">Contrast Checker - Easily check and adjust contrast ratios</a></li>
              <li><a href="https://color.a11y.com/" target="_blank">Accessibility Color Wheel - Check color combinations for accessibility</a></li>
              <li><a href="https://axesslab.com/tools/color-contrast/" target="_blank">Axess Lab's Color Contrast Tools</a></li>
              <li><a href="https://www.microsoft.com/design/fluent/#/web" target="_blank">Microsoft Fluent Design System - Accessibility Insights</a></li>
              <li><a href="https://material.io/resources/color/#!/?view.left=0&view.right=0" target="_blank">Material Design Color Tool - Interactive color palette tool</a></li>
              <li><a href="https://contrast-grid.eightshapes.com/?version=1.1.0&background-colors=&foreground-colors=%23FFFFFF%2C%20White%0D%0A%23F2F2F2%0D%0A%23DDDDDD%0D%0A%23CCCCCC%0D%0A%23888888%0D%0A%23404040%2C%20Charcoal%0D%0A%23000000%2C%20Black%0D%0A%232F78C5%2C%20Effective%20on%20Extremes%0D%0A%230F60B6%2C%20Effective%20on%20Lights%0D%0A%23398EEA%2C%20Ineffective%0D%0A&es-color-form__tile-size=compact&es-color-form__show-contrast=aaa&es-color-form__show-contrast=aa&es-color-form__show-contrast=aa18&es-color-form__show-contrast=dnp" target="_blank">Contrast Grid by EightShapes</a></li>
            </ul> 
            <h4>Non-text Color Contrast</h4>
            <ul role="list">
              <li><a href="https://www.tpgi.com/color-contrast-checker/" target="_blank" rel="noopener noreferrer">Downloadable App - TPGi's Color Contrast Analyzer</a></li>
              <li><a href="https://webaim.org/resources/contrastchecker/" target="_blank" rel="noopener noreferrer">WebAIM Contrast Checker Webpage</a></li>
              <li><a href="https://www.deque.com/resources/aria/" target="_blank" rel="noopener noreferrer">Deque: ARIA Resources</a></li>
              <li><a href="https://colororacle.org/" target="_blank" rel="noopener noreferrer">Color Oracle - Color Blindness Simulator for Windows, Mac, and Linux</a></li>
              <li><a href="https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=141#visual-contrast" target="_blank" rel="noopener noreferrer">W3C: Understanding Non-Text Contrast</a> - Detailed explanation of non-text contrast requirements.</li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Non-text_Contrast" target="_blank" rel="noopener noreferrer">MDN Web Docs: Non-text Contrast</a> - Guidance on ensuring non-text elements meet contrast requirements.</li>
              <li><a href="https://www.sarasoueidan.com/blog/focus-indicators/" target="_blank" rel="noopener noreferrer">Designing Accessible, WCAG-Conformant Focus Indicators</a> - Tips on creating accessible focus indicators.</li>
              <li><a href="https://www.wuhcag.com/1-4-11-non-text-contrast/" target="_blank" rel="noopener noreferrer">Wuhcag: Non-Text Contrast</a> - How to meet non-text contrast requirements for UI components and graphical objects.</li>
              <li><a href="https://webaim.org/articles/contrast/" target="_blank" rel="noopener noreferrer">WebAIM: Contrast and Color Accessibility</a> - Discusses contrast requirements for non-text elements such as buttons and form fields.</li>
            </ul>
           
            <h3>Non-text Content</h3>
            <h4>Images</h4>
            <ul>
              <li><a href="https://dequeuniversity.com/checklists/web/images" target="_blank">Deque University - Web Accessibility Checklist Images</a></li>
              <li><a href="https://webaim.org/techniques/images/" target="_blank">WebAIM - Images Concepts</a></li>
              <li><a href="https://www.w3.org/WAI/tutorials/images/decision-tree/" target="_blank">W3C Alt Decision Tree</a></li>
              <li><a href="https://wcag.com/blog/good-alt-text-bad-alt-text-making-your-content-perceivable/" target="_blank">Good Alt Text, Bad Alt Text — Making Your Content Perceivable</a></li>
              <li><a href="https://www.wuhcag.com/non-text-content/" target="_blank">WUHCAG Web Accessibility for Developers</a></li>
              <li><a href="https://www.w3.org/WAI/tutorials/images/textual/" target="_blank">W3C Tutorial on Images of Text</a>: Guidance on when and how to use images of text, emphasizing the use of CSS for styling text.</li>
              <li><a href="https://webaim.org/techniques/alttext/" target="_blank">WebAIM: Alternative Text</a>: Provides an extensive overview on making all images accessible, including those containing text.</li>
            </ul>
            <h4>Images of Text</h4>
            <ul>
              <li><a href="https://dequeuniversity.com/checklists/web/images" target="_blank">Deque University - Web Accessibility Checklist Images</a></li>
              <li><a href="https://webaim.org/techniques/images/" target="_blank">WebAIM - Images Concepts</a></li>
              <li><a href="https://www.w3.org/WAI/tutorials/images/decision-tree/" target="_blank">W3C Alt Decision Tree</a></li>
              <li><a href="https://wcag.com/blog/good-alt-text-bad-alt-text-making-your-content-perceivable/" target="_blank">Good Alt Text, Bad Alt Text — Making Your Content Perceivable</a></li>
              <li><a href="https://www.wuhcag.com/non-text-content/" target="_blank">WUHCAG Web Accessibility for Developers</a></li>
              <li><a href="https://www.w3.org/WAI/tutorials/images/textual/" target="_blank">W3C Tutorial on Images of Text</a>: Guidance on when and how to use images of text, emphasizing the use of CSS for styling text.</li>
              <li><a href="https://webaim.org/techniques/alttext/" target="_blank">WebAIM: Alternative Text</a>: Provides an extensive overview on making all images accessible, including those containing text.</li>
            </ul>
            <h4>Time-based Media</h4>
            <ul role="list">
              <li><a href="https://www.tpgi.com/web-accessibility-resources/" target="_blank" rel="noopener noreferrer">TPGi: Web Accessibility Resources</a> - Includes tools and guidelines for making audio and video content accessible.</li>
              <li><a href="https://webaim.org/techniques/captions/" target="_blank" rel="noopener noreferrer">WebAIM: Captions, Transcripts, and Audio Descriptions</a> - Comprehensive guide on creating captions and transcripts for media.</li>
              <li><a href="https://www.deque.com/blog/accessible-audio-video-content/" target="_blank" rel="noopener noreferrer">Deque: Accessible Audio and Video Content</a> - Best practices for ensuring audio and video content is accessible.</li>
              <li><a href="https://dequeuniversity.com/checklists/web/audiovideo" target="_blank">Audio and Videa Accessibility Checklist</a></li>
              <li><a href="https://www.section508.gov/create/video-audio/" target="_blank" rel="noopener noreferrer">Section 508: Video and Audio Accessibility</a> - Guidelines for making multimedia content compliant with Section 508.</li>
              <li><a href="https://www.wuhcag.com/wcag-1-2-1-audio-only-and-video-only-prerecorded/" target="_blank" rel="noopener noreferrer">Wuhcag: WCAG 1.2.1 Audio-only and Video-only</a> - How to meet the criteria for providing alternatives for audio and video content.</li>
              <li><a href="https://www.wuhcag.com/non-text-content/" target="_blank">WUHCAG Web Accessibility for Developers</a></li>
              <li><a href="https://www.a11yproject.com/posts/2016-07-12-what-is-a-transcript/" target="_blank" rel="noopener noreferrer">The A11Y Project: What is a Transcript?</a> - Explanation and guidelines for creating transcripts for audio and video content.</li>
              <li><a href="https://www.digitala11y.com/understanding-sc-1-2-1-audio-only-and-video-only-prerecorded/" target="_blank" rel="noopener noreferrer">DigitalA11Y: Understanding SC 1.2.1 Audio-only and Video-only (Prerecorded)</a> - Detailed guidance on meeting WCAG 1.2.1 requirements.</li>
              <li><a href="https://ictbaseline.access-board.gov/" target="_blank" rel="noopener noreferrer">US Access Board: Audio-Only and Video-Only Accessibility Requirements</a> - Evaluation of alternative content and test procedures for audio-only and video-only content.</li>
              <li><a href="https://www.zenythgroup.com/media-best-practices" target="_blank" rel="noopener noreferrer">Zenyth Group: Media Best Practices</a> - Best practices for creating accessible media content.</li>
            </ul>  
            <h4>Timing Adjustable</h4>
            <ul role="list">
              <li><a href="https://webaim.org/blog/time-limits-and-disabilities/" target="_blank" rel="noopener noreferrer">WebAIM: Time Limits and Disabilities</a></li>
              <li><a href="https://a11yproject.com/posts/how-to-write-accessible-web-applications-part-5/" target="_blank" rel="noopener noreferrer">The A11Y Project: How to Write Accessible Web Applications - Timing</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Keyboard" target="_blank" rel="noopener noreferrer">MDN Web Docs: Understanding WCAG - Keyboard Accessible</a></li>
              <li><a href="https://www.digitala11y.com/understanding-sc-2-2-1-timing-adjustable/" target="_blank" rel="noopener noreferrer">DigitalA11Y: Understanding SC 2.2.1 Timing Adjustable</a> - Comprehensive overview and best practices for implementing timing controls.</li>
              <li><a href="https://holistica11y.com/wcag-2-2-1-timing-adjustable/" target="_blank" rel="noopener noreferrer">HolisticA11Y: WCAG 2.2.1 Timing Adjustable</a> - Explanation of requirements and practical tips for meeting this criterion.</li>
              <li><a href="https://blog.equally.ai/wcag-2-2-1-timing-adjustable/" target="_blank" rel="noopener noreferrer">Equally AI: WCAG 2.2.1 Timing Adjustable</a> - Detailed guidance on common mistakes and how to fix them to comply with this criterion.</li>
              <li><a href="https://www.wuhcag.com/timing-adjustable/" target="_blank" rel="noopener noreferrer">Wuhcag: Timing Adjustable (2.2.1 - Level A)</a> - Tips and examples for ensuring timing adjustments are accessible.</li>
            </ul>          
            <h4>Pause, Stop, Hide</h4>
            <ul role="list">
              <li><a href="https://www.w3.org/WAI/WCAG21/quickref/#pause-stop-hide" target="_blank" rel="noopener noreferrer">WCAG Quick Reference: Pause, Stop, Hide</a></li>
              <li><a href="https://webaim.org/techniques/javascript/" target="_blank" rel="noopener noreferrer">WebAIM: JavaScript and Accessibility</a></li>
              <li><a href="https://css-tricks.com/accessible-web-animation-the-wcag-on-animation-explained/" target="_blank" rel="noopener noreferrer">CSS-Tricks: Accessible Web Animation</a> - Explains how to make animations accessible, including guidelines for pausing, stopping, and hiding animations.</li>
              <li><a href="https://www.wuhcag.com/pause-stop-hide/" target="_blank" rel="noopener noreferrer">Wuhcag: Pause, Stop, Hide</a> - Practical tips for implementing controls to pause, stop, or hide moving content.</li>
              <li><a href="https://blog.equally.ai/wcag-2-2-2-pause-stop-hide/" target="_blank" rel="noopener noreferrer">Equally AI: WCAG 2.2.2 Pause, Stop, Hide</a> - Detailed guidance on providing controls for dynamic content to enhance accessibility.</li>
              <li><a href="https://www.digitala11y.com/understanding-sc-2-2-2-pause-stop-hide/" target="_blank" rel="noopener noreferrer">DigitalA11Y: Understanding SC 2.2.2 Pause, Stop, Hide</a> - Comprehensive overview of this success criterion and techniques to comply with it.</li>
            </ul>          
            <h4>Three Flashes or Below Threshold</h4>
            <ul role="list">
              <li><a href="https://www.pearson.com/accessibility-guidelines/operable-principle/three-flashes-or-below.html" target="_blank" rel="noopener noreferrer">Pearson: Three Flashes or Below Threshold</a></li>
              <li><a href="https://communications.uams.edu/web/kb/wcag-2-3-seizures-and-physical-reactions/" target="_blank" rel="noopener noreferrer">WCAG 2.3 - Seizures and Physical Reactions</a></li>
              <li><a href="https://webaim.org/articles/seizure/" target="_blank" rel="noopener noreferrer">WebAIM: Seizure Disorders and Web Accessibility</a></li>
              <li><a href="https://www.w3.org/TR/WCAG20-TECHS/G15.html" target="_blank" rel="noopener noreferrer">G15: Using a tool to ensure that content does not violate the general flash threshold</a></li>
              <li><a href="https://blog.equally.ai/wcag-2-3-1-three-flashes-or-below/" target="_blank" rel="noopener noreferrer">Equally AI: WCAG 2.3.1 Three Flashes or Below</a> - Detailed guidance on preventing flashing content that can trigger seizures.</li>
              <li><a href="https://www.mondaylovesyou.com/wcag-2-3-1-three-flashes-or-below-threshold/" target="_blank" rel="noopener noreferrer">Monday Loves You: WCAG 2.3.1 Three Flashes or Below Threshold</a> - Practical advice on avoiding content that flashes more than three times per second.</li>
              <li><a href="https://accessibleweb.com/wcag-2-3-1-three-flashes-or-below-threshold/" target="_blank" rel="noopener noreferrer">Accessible Web: Three Flashes or Below Threshold</a> - Tips on how to ensure your content complies with flash thresholds.</li>
              <li><a href="https://www.youtube.com/watch?v=EhAJh-exkS4" target="_blank" rel="noopener noreferrer">YouTube: Understanding WCAG SC 2.3.1 Three Flashes or Below Threshold</a> - Video explanation of the success criterion and its importance.</li>
            </ul>
          
            <h3>Interactives</h3>
            <h4>Keyboard</h4>
            <ul role="list">
              <li><a href="https://webaim.org/techniques/keyboard/" target="_blank">WebAIM - Keyboard Accessibility</a></li>
              <li><a href="https://dequeuniversity.com/" target="_blank">Deque University - Keyboard Accessibility Course</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/Keyboard-navigable_JavaScript_widgets" target="_blank">MDN Web Docs - Keyboard-navigable JavaScript widgets</a></li>
              <li><a href="https://www.paciellogroup.com/blog/2019/01/keyboard-navigation/" target="_blank">The Paciello Group - Keyboard Navigation</a></li>
              <li><a href="https://a11yproject.com/posts/2013-01-11-how-do-you-make-your-site-keyboard-navigable/" target="_blank">A11y Project - Keyboard Navigation Guide</a></li>
              <li><a href="https://www.smashingmagazine.com/2020/07/keyboard-accessibility-web-design/" target="_blank">Smashing Magazine - Keyboard Accessibility: A Comprehensive Guide</a></li>
              <li><a href="https://www.deque.com/blog/focus-management-in-web-applications/" target="_blank">Deque Systems - Focus Management in Web Applications</a></li>
              <li><a href="https://www.w3.org/TR/wai-aria-practices/#keyboard-interaction" target="_blank">WAI-ARIA Authoring Practices - Keyboard Interaction</a></li>
              <li><a href="https://css-tricks.com/focus-styles-and-accessibility/" target="_blank">CSS-Tricks - Keyboard Navigation For Better Accessibility</a></li>
            </ul>     
            <h4>Focus Visible</h4>
            <ul>
              <li><a href="https://webaim.org/techniques/keyboard/" target="_blank">WebAIM - Keyboard Accessibility</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible" target="_blank">MDN Web Docs - :focus-visible</a></li>
              <li><a href="https://css-tricks.com/the-focus-visible-trick/" target="_blank">CSS-Tricks - The :focus-visible Trick</a></li>
              <li><a href="https://developers.google.com/web/fundamentals/accessibility/focus/using-focus" target="_blank">Google Developers - Managing Focus</a></li>
              <li><a href="https://a11yproject.com/posts/2013-01-11-how-do-you-make-your-site-keyboard-navigable/" target="_blank">A11y Project - Focus Style Guide</a></li>
              <li><a href="https://dequeuniversity.com/" target="_blank">Deque University - Keyboard Accessibility Course</a></li>
            </ul> 
            <h4>Focus Order</h4>
            <ul>
              <li><a href="https://webaim.org/techniques/keyboard/" target="_blank">WebAIM - Keyboard Accessibility</a></li>
              <li><a href="https://dequeuniversity.com/" target="_blank">Deque University - Keyboard Accessibility Course</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/Keyboard-navigable_JavaScript_widgets" target="_blank">MDN Web Docs - Keyboard-navigable JavaScript widgets</a></li>
              <li><a href="https://www.paciellogroup.com/blog/2019/01/keyboard-navigation/" target="_blank">The Paciello Group - Keyboard Navigation</a></li>
              <li><a href="https://a11yproject.com/posts/2013-01-11-how-do-you-make-your-site-keyboard-navigable/" target="_blank">A11y Project - Keyboard Navigation Guide</a></li>
              <li><a href="https://www.smashingmagazine.com/2020/07/keyboard-accessibility-web-design/" target="_blank">Smashing Magazine - Keyboard Accessibility: A Comprehensive Guide</a></li>
              <li><a href="https://www.deque.com/blog/focus-management-in-web-applications/" target="_blank">Deque Systems - Focus Management in Web Applications</a></li>
              <li><a href="https://www.w3.org/TR/wai-aria-practices/#keyboard-interaction" target="_blank">WAI-ARIA Authoring Practices - Keyboard Interaction</a></li>
              <li><a href="https://css-tricks.com/focus-styles-and-accessibility/" target="_blank">CSS-Tricks - Keyboard Navigation For Better Accessibility</a></li>
            </ul>
            <h4>On Focus</h4>
            <ul>
              <li><a href="https://dequeuniversity.com/rules/axe/4.1/focus-order" target="_blank">Deque University - Focus Order</a></li>
              <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/on-focus.html" target="_blank">W3C - Understanding WCAG 2.1: On Focus</a></li>
              <li><a href="https://www.digitala11y.com/understanding-sc-3-2-1-on-focus/" target="_blank">Digital A11Y - Understanding SC 3.2.1 On Focus</a></li>
              <li><a href="https://wcag.com/designers/3-2-1-on-focus/" target="_blank">WCAG - On Focus for Designers</a></li>
              <li><a href="https://www.wuhcag.com/on-focus/" target="_blank">Wuhcag - On Focus</a></li>
              <li><a href="https://dequeuniversity.com/resources/wcag2.1/1.4.13-content-on-hover-or-focus" target="_blank">Deque University - Content on Hover or Focus</a></li>
            </ul>
            <h4>On Input</h4>
            <ul>
              <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/on-input.html" target="_blank">W3C - Understanding WCAG 2.1: On Input</a></li>
              <li><a href="https://www.digitala11y.com/understanding-sc-3-2-2-on-input/" target="_blank">Digital A11Y - Understanding SC 3.2.2 On Input</a></li>
              <li><a href="https://wcag.com/developers/3-2-2-on-input/" target="_blank">WCAG - On Input for Developers</a></li>
              <li><a href="https://accessibility.pearson.com/guidelines/accessibility-guidance-for-assessment/level-a/on-input/index.php" target="_blank">Pearson - Accessibility Guidance for On Input</a></li>
              <li><a href="https://dequeuniversity.com/rules/axe/4.1/on-input" target="_blank">Deque University - On Input</a></li>
            </ul> 
            <h4>Dynamic Changes</h4>
            <ul role="list">
              <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/status-messages.html" target="_blank">W3C - WCAG 2.1 Understanding Status Messages</a></li>
              <li><a href="https://www.w3.org/TR/wai-aria-practices/#aria_lh_live" target="_blank">WAI-ARIA Authoring Practices - Live Regions</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions" target="_blank">MDN Web Docs - ARIA Live Regions</a></li>
              <li><a href="https://accessibility.huit.harvard.edu/provide-notification-dynamic-changes-content" target="_blank">Harvard University Accessibility - Provide Notification of Dynamic Changes to Content</a></li>
              <li><a href="https://a11yproject.com/posts/how-to-announce-to-screen-readers/" target="_blank">A11y Project - How to Announce to Screen Readers</a></li>
              <li><a href="https://www.deque.com/blog/accessible-notifications-for-websites-and-apps-with-aria-live-regions/" target="_blank">Deque - Accessible Notifications with ARIA Live Regions</a></li>
              <li><a href="https://inclusive-components.design/notifications-and-feedback/" target="_blank">Inclusive Components - Notifications and Feedback</a></li>
            </ul>
            <h4>Content on Hover or Focus</h4>
            <ul>
              <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/content-on-hover-or-focus.html" target="_blank">W3C - Understanding WCAG 2.1: Content on Hover or Focus</a></li>
              <li><a href="https://dequeuniversity.com/resources/wcag2.1/1.4.13-content-on-hover-or-focus" target="_blank">Deque University - Content on Hover or Focus</a></li>
              <li><a href="https://www.digitala11y.com/understanding-sc-1-4-13-content-on-hover-or-focus/" target="_blank">Digital A11Y - Understanding SC 1.4.13 Content on Hover or Focus</a></li>
              <li><a href="https://www.wuhcag.com/content-on-hover-or-focus/" target="_blank">Wuhcag - Content on Hover or Focus</a></li>
              <li><a href="https://www.smashingmagazine.com/2019/04/accessibility-hover-focus-states/" target="_blank">Smashing Magazine - Accessibility For Hover And Focus States</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Keyboard" target="_blank">MDN Web Docs - Understanding WCAG: Keyboard</a></li>
              <li><a href="https://webaim.org/techniques/keyboard/" target="_blank">WebAIM - Keyboard Accessibility</a></li>
            </ul>
            <h4>Target Size</h4>
            <ul>
              <li><a href="https://dequeuniversity.com/rules/axe/4.7/target-size" target="_blank">Deque University - Touch Target Accessibility</a></li>
              <li><a href="https://developer.apple.com/design/human-interface-guidelines/ios/controls/buttons/" target="_blank">Apple Human Interface Guidelines - Buttons</a></li>
              <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/target-size.html" target="_blank">WCAG 2.1 AAA Understanding Target Size</a></li>
              <li><a href="https://web.dev/tap-targets/" target="_blank">Web.dev - Tap Targets and Size Guidelines</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/Keyboard-navigable_JavaScript_widgets" target="_blank">MDN Web Docs - Keyboard-navigable JavaScript widgets</a></li>
              <li><a href="https://www.smashingmagazine.com/2021/04/touch-targets-mobile-web-design/" target="_blank">Smashing Magazine - Designing Touch Targets in Mobile Web Design</a></li>
            </ul>
            <h3>Screen Magnification</h3>
            <h4>Resize Text</h4>
            <ul>
              <li><a href="https://www.a11yproject.com/checklist/" target="_blank">The A11Y Project Checklist</a></li>
              <li><a href="https://webaim.org/articles/zoom/" target="_blank">WebAIM: Zoom and Magnification</a></li>
              <li><a href="https://www.sitepoint.com/responsive-typography-made-easy/" target="_blank">SitePoint: Responsive Typography Made Easy</a></li>
              <li><a href="https://css-tricks.com/accessible-font-sizing-explained/" target="_blank">CSS-Tricks: Accessible Font Sizing Explained</a></li>
              <li><a href="https://accessibility.18f.gov/scaling/ " target="_blank">18F Accessibility Guide: Scaling</a></li>
            </ul> 
            <h4>Reflow</h4>
            <ul>
              <li><a href="https://www.a11yproject.com/checklist/" target="_blank">The A11Y Project Checklist</a></li>
              <li><a href="https://webaim.org/techniques/css/" target="_blank">WebAIM: CSS Techniques and Concepts</a></li>
              <li><a href="https://www.smashingmagazine.com/2014/07/responsive-web-design-should-not-be-your-only-mobile-strategy/" target="_blank">Smashing Magazine: Responsive Web Design</a></li>
              <li><a href="https://www.sitepoint.com/responsive-web-design-tips-tricks/" target="_blank">SitePoint: Tips & Tricks for Responsive Web Design</a></li>
              <li><a href="https://css-tricks.com/the-trick-to-viewport-units-on-mobile/" target="_blank">CSS-Tricks: Viewport Units on Mobile</a></li>
            </ul>
            <h3>Text Spacing</h3>
            <ul>
              <li><a href="https://webaim.org/techniques/css/" target="_blank">WebAIM: CSS Techniques and Concepts</a></li>
              <li><a href="https://www.smashingmagazine.com/2016/05/fluid-typography/" target="_blank">Smashing Magazine: Fluid Typography</a></li>
              <li><a href="https://css-tricks.com/almanac/properties/l/line-height/" target="_blank">CSS-Tricks: Line Height</a></li>
              <li><a href="https://www.sitepoint.com/css-typographic-spacing/" target="_blank">SitePoint: CSS Typographic Spacing</a></li>
              <li><a href="https://inclusive-components.design/typography/" target="_blank">Inclusive Components: Designing Typography</a></li>
            </ul>                                         
          </div> 
        </div>  
      </main>
    </div>
  </div>

   <!-- Script links and jQuery CDN -->
   <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
   <script src="../../assets/js/global.js"></script>
   <!-- Link to Bootstrap JavaScript from CDN (including Popper.js) -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

   <!-- Add sidebar navigation to page -->
   <script>
     $(document).ready(function () {
         // Determine the path relative to the root directory
         var rootRelativePath = "../sidebar-navigation.html";
 
         // Use jQuery to load the sidebar-navigation.html file
         $("#sidebar-container").load(rootRelativePath);
     });
   </script>
</body>
</html>
