<!-- Custom style sheet link -->
<link rel="stylesheet" href="/a11y-annotations/assets/styles/custom.css">

<header class="d-flex justify-content-between align-items-center px-3 py-2">
    <!-- Logo on the left -->
    <img src="https://www.biointeractive.org/themes/gesso/images/hhmi-logo.svg" alt="hhmi Biointeractive logo" style="max-width: 320px;">
  
    <!-- Search Form on the right -->
    <form class="d-flex" onsubmit="redirectToSearchPage(event)" role="search" aria-label="Sitewide">
        <label for="search-input" class="visually-hidden">Search</label>
        <input id="search-input" class="form-control me-2" type="text" placeholder="Search...">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> 
</header>