<!-- Custom style sheet link -->
<link rel="stylesheet" href="/a11y-annotations/assets/styles/custom.css">
<!-- sidebar-navigation.html -->
<nav id="sidebar-nav" class="sidebar">
    <a href="/index.html" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold"><i class="bi bi-house-heart-fill" aria-hidden="true"></i> A11y Annotations</span>
    </a>
    <a href="/default/how-to-annotate.html" class="d-flex align-items-center pb-1 pl-1 mb-3 link-dark text-decoration-none">
        <span class="fs-6 fw-semibold"> How to Annotate</span>
    </a>
    <ul class="list-unstyled ps-0">
        <!-- General Section -->
        <li class="mb-3">
            <button class="btn btn-toggle align-items-center rounded collapsed fs-4" data-bs-toggle="collapse"
                data-bs-target="#general-collapse" aria-expanded="true">
                General
            </button>
            <div class="collapse show" id="general-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-2 small  ml-1r">
                    <!-- Nested Accessibility Criteria Sections -->
                    <!-- Structure Section -->
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#structure-collapse" aria-expanded="true">
                            <span><i class="bi bi-hammer" aria-hidden="true"></i> Structure</span>
                        </button>
                        <div class="collapse show" id="structure-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/templates/general/structure/landmarks.html" class="link-dark rounded">Landmarks</a></li>
                                <li><a href="/templates/general/structure/headings.html" class="link-dark rounded">Headings</a></li>
                                <li><a href="/templates/general/structure/lists.html" class="link-dark rounded">Lists</a></li>
                                <li><a href="/templates/general/structure/buttons.html" class="link-dark rounded">Buttons</a></li>
                                <li><a href="/templates/general/structure/links.html" class="link-dark rounded">Links</a></li>
                                <li><a href="/templates/general/structure/forms.html" class="link-dark rounded">Forms</a></li>
                            </ul>
                        </div>
                    </li>                               
                    <!-- Color Section -->
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#color-collapse" aria-expanded="true">
                            <span><i class="bi bi-eyedropper" aria-hidden="true"></i> Color</span>
                        </button>
                        <div class="collapse show" id="color-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/templates/general/color/use-of-color.html" class="link-dark rounded">Use of Color (1.4.1)</a></li>
                                <li><a href="/templates/general/color/text-contrast.html" class="link-dark rounded">Text Color Contrast (1.4.3)</a></li>
                                <li><a href="/templates/general/color/non-text-contrast.html" class="link-dark rounded">Non-text Color Contrast (1.4.11)</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- Non-text Content Section -->
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#images-collapse" aria-expanded="true">
                            <span><i class="bi bi-images" aria-hidden="true"></i> Non-text Content</span>
                        </button>
                        <div class="collapse show" id="images-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/templates/general/non-text-content/images.html" class="link-dark rounded">Images (1.1.1)</a></li>
                                <li><a href="/templates/general/non-text-content/media.html" class="link-dark rounded">Time-based Media (1.2)</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- Interactives Section -->
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#interactives-collapse" aria-expanded="true">
                            <span><i class="bi bi-hand-index-thumb" aria-hidden="true"></i> Interactives</span>
                        </button>
                        <div class="collapse show" id="interactives-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/templates/general/interactives/keyboard.html" class="link-dark rounded">Keyboard(2.1.1)</a></li>
                                <li><a href="/templates/general/interactives/focus-visible.html" class="link-dark rounded">Focus Visible (2.4.7)</a></li>
                                <li><a href="/templates/general/interactives/focus-order.html" class="link-dark rounded">Focus Order (2.4.3)</a></li>
                                <li><a href="/templates/general/interactives/touch-target.html" class="link-dark rounded">Touch Target (2.5.8)</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- Screen Magnification Section -->
                    <li class="mb-1">
                        <button class="text-left btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#screen-magnification-collapse" aria-expanded="true">
                            <span><i class="bi bi-search-heart" aria-hidden="true"></i> Screen Magnification</span>
                        </button>
                        <div class="collapse show" id="screen-magnification-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Resize Text (1.4.4)</a></li>
                                <li><a href="#" class="link-dark rounded">Reflow (1.4.10)</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- Forms Section -->
                    <!-- <li class="mb-1">
                        <button class="text-left btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#screen-magnification-collapse" aria-expanded="true">
                            <span><i class="bi bi-search-heart" aria-hidden="true"></i> Forms</span>
                        </button>
                        <div class="collapse show" id="screen-magnification-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Info and Relationships (1.3.1)</a></li>
                                <li><a href="#" class="link-dark rounded">Error Identification (3.3.1)</a></li>
                                <li><a href="#" class="link-dark rounded">Labels or Instructions (3.3.2)</a></li>
                                <li><a href="#" class="link-dark rounded">Error Suggestion (3.3.3)</a></li>
                                <li><a href="#" class="link-dark rounded">Status Messages (4.1.3)</a></li>
                            </ul>
                        </div>
                    </li> -->
                </ul>
            </div>
        </li>
    
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#dashboard-collapse" aria-expanded="false">
                Components
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Placeholder</a></li>
                    <li><a href="#" class="link-dark rounded">Placeholder</a></li>
                    <li><a href="#" class="link-dark rounded">Placeholder</a></li>
                    <li><a href="#" class="link-dark rounded">Placeholder</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#orders-collapse" aria-expanded="false">
                Interactives
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Placeholder</a></li>
                    <li><a href="#" class="link-dark rounded">Placeholder</a></li>
                    <li><a href="#" class="link-dark rounded">Placeholder</a></li>
                    <li><a href="#" class="link-dark rounded">Placeholder</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#resources-collapse" aria-expanded="false">
                Resources
            </button>
            <div class="collapse" id="resources-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New...</a></li>
                    <li><a href="#" class="link-dark rounded">Profile</a></li>
                    <li><a href="#" class="link-dark rounded">Settings</a></li>
                    <li><a href="#" class="link-dark rounded">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>

<!-- Comment out for local development and enable for production -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Select all links in the sidebar navigation except for index.html
        $("#sidebar-nav a").each(function() {
            // Get the current href attribute
            var currentHref = $(this).attr("href");
            
            // Add "/a11y-annotations" to the beginning of the href attribute
            var newHref = "/a11y-annotations" + currentHref;
            
            // Update the href attribute with the new value
            $(this).attr("href", newHref);
        });
    });
    $(document).ready(function() {
        // Select all <img> tags on the page
        $('img').each(function() {
            // Get the current src attribute
            var currentSrc = $(this).attr('src');
            
            // Check if the src attribute starts with '/'
            if (currentSrc && currentSrc.charAt(0) === '/') {
            // Add '/a11y-annotations' to the beginning of the src attribute
            $(this).attr('src', '/a11y-annotations' + currentSrc);
            }
        });
    });
</script>

