<!-- Custom style sheet link -->
<link rel="stylesheet" href="/a11y-annotations/assets/styles/custom.css">

<a href="#main-content" class="skip-link">Skip to main content</a>

<!-- Hamburger Menu Button -->
<button id="sidebar-toggle" class="hamburger rounded" aria-expanded="false" aria-label="Menu" aria-controls="sidebar-nav">
    <span class="hamburger-icon"></span>
    <span class="hamburger-icon"></span>
    <span class="hamburger-icon"></span>
</button>

<!-- sidebar-navigation.html -->
<nav id="sidebar-nav" class="sidebar rounded">
    <div class="space-medium"></div>
    <a href="/index.html" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom fs-4">
        <span class="reg-nav-link"><i class="bi bi-house-heart-fill" aria-hidden="true"></i> Introduction</span>
    </a>
    <a href="/default/accessibility-checklist.html" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom fs-4">                               
        <span class="reg-nav-link">Accessibility Checklist</span>
    </a>
    <a href="/default/how-to-annotate.html" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom fs-4">        
        <span class="reg-nav-link">How to Annotate</span>
    </a>
    <a href="/default/crosswalk.html" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom fs-4">        
        <span class="reg-nav-link">WCAG Crosswalk</span>
    </a>

    <ul class="list-unstyled ps-0">
        <!-- General Section -->
        <li class="mb-3">
            <button class="btn btn-toggle align-items-center rounded collapsed fs-4" data-bs-toggle="collapse"
                data-bs-target="#general-collapse" aria-expanded="false">
                General
            </button>
            <div class="collapse" id="general-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-2 small  ml-1r">
                    <!-- Structure Section -->
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#structure-collapse" aria-expanded="false" aria-controls="structure-collapse">
                            <span><i class="bi bi-hammer" aria-hidden="true"></i> Structure</span>
                        </button>
                        <div class="collapse" id="structure-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/templates/general/structure/consistent-navigation.html" class="link-dark rounded">Consistent Naviagtion</a></li>
                                <li><a href="/templates/general/structure/headings.html" class="link-dark rounded">Headings</a></li>
                                <li><a href="/templates/general/structure/landmarks.html" class="link-dark rounded">Landmarks</a></li>
                                <li><a href="/templates/general/structure/language.html" class="link-dark rounded">Language</a></li>
                                <li><a href="/templates/general/structure/lists.html" class="link-dark rounded">Lists</a></li>
                                <li><a href="/templates/general/structure/meaningful-sequence.html" class="link-dark rounded">Meaningful Sequence</a></li>
                                <li><a href="/templates/general/structure/multiple-ways.html" class="link-dark rounded">Multiple Ways</a></li>
                                <li><a href="/templates/general/structure/orientation.html" class="link-dark rounded">Orientation</a></li>
                                <li><a href="/templates/general/structure/page-titled.html" class="link-dark rounded">Page Titled</a></li>
                                <li><a href="/templates/general/structure/sensory-characterists.html" class="link-dark rounded">Sensory Characteristics</a></li>
                                <li><a href="/templates/general/structure/text-best-practices.html" class="link-dark rounded">Text</a></li>
                            </ul>                              
                        </div>
                    </li>                               
                    <!-- Color Section -->
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#color-collapse" aria-expanded="flase" aria-controls="color-collapse">
                            <span><i class="bi bi-eyedropper" aria-hidden="true"></i> Color</span>
                        </button>
                        <div class="collapse" id="color-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/templates/general/color/use-of-color.html" class="link-dark rounded">Use of Color</a></li>
                                <li><a href="/templates/general/color/text-contrast.html" class="link-dark rounded">Text Color Contrast</a></li>
                                <li><a href="/templates/general/color/non-text-contrast.html" class="link-dark rounded">Non-text Color Contrast</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- Non-text Content Section -->
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#images-collapse" aria-expanded="false" aria-controls="images-collapse">
                            <span><i class="bi bi-images" aria-hidden="true"></i> Non-text Content</span>
                        </button>
                        <div class="collapse" id="images-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/templates/general/non-text-content/images.html" class="link-dark rounded">Images</a></li>
                                <li><a href="/templates/general/non-text-content/images-of-text.html" class="link-dark rounded">Images of Text</a></li>
                                <li><a href="/templates/general/non-text-content/media.html" class="link-dark rounded">Time-based Media</a></li>
                                <li><a href="/templates/general/non-text-content/timing-adjustable.html" class="link-dark rounded">Timing Adjustable</a></li> 
                                <li><a href="/templates/general/non-text-content/pause-stop-hide.html" class="link-dark rounded">Pause, Stop, Hide</a></li>
                                <li><a href="/templates/general/non-text-content/three-flashes.html" class="link-dark rounded">Three Flashes or Below Threshold</a></li>  
                            </ul>
                        </div>
                    </li>
                    <!-- Interactives Section -->
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#interactives-collapse" aria-expanded="false" aria-controls="interactives-collapse">
                            <span><i class="bi bi-hand-index-thumb" aria-hidden="true"></i> Interactives</span>
                        </button>
                        <div class="collapse" id="interactives-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/templates/general/interactives/bypass-blocks.html" class="link-dark rounded">Bypass Blocks</a></li>
                                <li><a href="/templates/general/interactives/content-on-hover-or-focus.html" class="link-dark rounded">Content on Hover or Focus</a></li>
                                <li><a href="/templates/general/interactives/dynamic-changes.html" class="link-dark rounded">Dynamic Changes</a></li>
                                <li><a href="/templates/general/interactives/error-identification.html" class="link-dark rounded">Error Identification</a></li>
                                <li><a href="/templates/general/interactives/error-prevention.html" class="link-dark rounded">Error Prevention</a></li>
                                <li><a href="/templates/general/interactives/error-suggestion.html" class="link-dark rounded">Error Suggestion</a></li>
                                <li><a href="/templates/general/interactives/focus-order.html" class="link-dark rounded">Focus Order</a></li>
                                <li><a href="/templates/general/interactives/focus-visible.html" class="link-dark rounded">Focus Visible</a></li>
                                <li><a href="/templates/general/interactives/input-purpose.html" class="link-dark rounded">Identify Input Purpose</a></li>
                                <li><a href="/templates/general/interactives/keyboard.html" class="link-dark rounded">Keyboard</a></li>
                                <li><a href="/templates/general/interactives/label-in-name.html" class="link-dark rounded">Label in Name</a></li>
                                <li><a href="/templates/general/interactives/labels-instructions.html" class="link-dark rounded">Labels or Instructions</a></li>
                                <li><a href="/templates/general/interactives/motion-actuation.html" class="link-dark rounded">Motion Actuation</a></li>
                                <li><a href="/templates/general/interactives/name-role-value.html" class="link-dark rounded">Name, Role, Value</a></li>
                                <li><a href="/templates/general/interactives/on-focus.html" class="link-dark rounded">On Focus</a></li>
                                <li><a href="/templates/general/interactives/on-input.html" class="link-dark rounded">On Input</a></li>
                                <li><a href="/templates/general/interactives/pointer-cancelation.html" class="link-dark rounded">Pointer Cancelation</a></li>
                                <li><a href="/templates/general/interactives/pointer-gestures.html" class="link-dark rounded">Pointer Gestures</a></li>
                                <li><a href="/templates/general/interactives/status-messages.html" class="link-dark rounded">Status Messages</a></li>
                                <li><a href="/templates/general/interactives/touch-target.html" class="link-dark rounded">Target Size</a></li>
                              </ul>                              
                        </div>
                    </li>
                    <!-- Screen Magnification Section -->
                    <li class="mb-1">
                        <button class="text-left btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#screen-magnification-collapse" aria-expanded="false" aria-controls="screen-magnification-collapse">
                            <span><i class="bi bi-search-heart" aria-hidden="true"></i> Screen Magnification</span>
                        </button>
                        <div class="collapse" id="screen-magnification-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"> 
                                <li><a href="/templates/general/screen-magnification/reflow.html" class="link-dark rounded">Reflow</a></li>                                
                                <li><a href="/templates/general/screen-magnification/resize.html" class="link-dark rounded">Resize Text</a></li>                                
                                <li><a href="/templates/general/screen-magnification/text-spacing.html" class="link-dark rounded">Text Spacing</a></li>   
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="border-top-sidebar my-3" aria-hidden="true"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed fs-4 mb-1" data-bs-toggle="collapse"
                data-bs-target="#dashboard-collapse" aria-expanded="false">
                Components
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ml-1r">
                    <li><a href="/templates/components/accordion.html" class="link-dark rounded">Accordion</a></li>
                    <li><a href="/templates/components/alert.html" class="link-dark rounded">Alert</a></li>
                    <li><a href="/templates/components/breadcrumb.html" class="link-dark rounded">Breadcrumb</a></li>
                    <li><a href="/templates/components/button.html" class="link-dark rounded">Button</a></li>
                    <li><a href="/templates/components/carousel.html" class="link-dark rounded">Carousel</a></li>
                    <li><a href="/templates/components/combobox.html" class="link-dark rounded">Combobox</a></li>
                    <li><a href="/templates/components/data-chart.html" class="link-dark rounded">Data Chart</a></li>
                    <li><a href="/templates/components/data-visualization.html" class="link-dark rounded">Data Visualization</a></li>
                    <li><a href="/templates/components/dialog.html" class="link-dark rounded">Dialog</a></li>
                    <li><a href="/templates/components/drag-drop.html" class="link-dark rounded">Drag and Drop</a></li>
                    <li><a href="/templates/components/dropdown.html" class="link-dark rounded">Dropdown / Disclosure</a></li>
                    <li><a href="/templates/components/forms.html" class="link-dark rounded">Form</a></li>
                    <li><a href="/templates/components/form-group.html" class="link-dark rounded">Form Group</a></li>
                    <li><a href="/templates/components/links.html" class="link-dark rounded">Link</a></li>
                    <li><a href="/templates/components/listbox.html" class="link-dark rounded">Listbox</a></li>
                    <li><a href="/templates/components/navigation.html" class="link-dark rounded">Navigation</a></li>
                    <li><a href="/templates/components/pagination.html" class="link-dark rounded">Pagination</a></li>
                    <li><a href="/templates/components/progress.html" class="link-dark rounded">Progress</a></li>
                    <li><a href="/templates/components/tables.html" class="link-dark rounded">Table</a></li> 
                    <li><a href="/templates/components/tabs.html" class="link-dark rounded">Tabs</a></li>
                    <li><a href="/templates/components/tooltip.html" class="link-dark rounded">Tooltip</a></li>
                    <li><a href="/templates/components/toggletip.html" class="link-dark rounded">Toggletip</a></li>
                    <li><a href="/templates/components/toggle-switch.html" class="link-dark rounded">Toggle Switch</a></li>
                    <li><a href="/templates/components/video.html" class="link-dark rounded">Video</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top-sidebar my-3" aria-hidden="true"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed fs-4" data-bs-toggle="collapse"
                data-bs-target="#resources-collapse" aria-expanded="false" aria-controls="resources-collapse">
                Resources
            </button>
            <div class="collapse" id="resources-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/templates/resources/general-resources.html" class="link-dark rounded">General Accessibility</a></li>
                    <li><a href="/templates/resources/components-resources.html" class="link-dark rounded">Components</a></li>
                    <li><a href="/templates/resources/design-resources.html" class="link-dark rounded">Designer</a></li>
                    <li><a href="/templates/resources/development-resources.html" class="link-dark rounded">Developer</a></li>
                    <li><a href="/templates/resources/auditor-resources.html" class="link-dark rounded">Auditor & Testing</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top-sidebar my-3" aria-hidden="true"></li>
    </ul>
    <a href="/default/sitemap.html" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom fs-4">        
        <span class="reg-nav-link">Sitemap</span>
    </a>
</nav>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Toggle the sidebar when the hamburger button is clicked
        $('#sidebar-toggle').on('click', function() {
            $(this).toggleClass('active');
            $('#sidebar-nav').toggleClass('show');
            $(this).attr('aria-expanded', function(i, attr) {
                return attr === 'true' ? 'false' : 'true';
            });
        });
    
        // Close the sidebar when clicking outside of it
        $(document).on('click touchstart', function(e) {
            if (!$(e.target).closest('#sidebar-nav, #sidebar-toggle').length) {
                if ($('#sidebar-nav').hasClass('show')) {
                    $('#sidebar-nav').removeClass('show');
                    $('#sidebar-toggle').removeClass('active').attr('aria-expanded', 'false');
                }
            }
        });
    
        // Close the sidebar when focus leaves it (forward and backward tabbing)
        $('#sidebar-nav').on('focusout', function(e) {
            var $this = $(this);
            setTimeout(function() {
                if (!$this.find(':focus').length) {
                    $this.removeClass('show');
                    $('#sidebar-toggle').removeClass('active').attr('aria-expanded', 'false');
                }
            }, 10);
        });
    });
    
</script>

<script>
  // Sidebar Focus Management
  $(window).on('load', function() {

      // Get current URL path without query or hash
      var currentPath = window.location.pathname;

      // Find the matching link in the sidebar
      $('#sidebar-nav a').each(function() {
          var hrefValue = $(this).attr('href');
          var linkPath = new URL(hrefValue, window.location.origin).pathname;

          // Check if the normalized current path matches the normalized link path
          if (currentPath === linkPath) {

              // Set focus and ARIA current attribute on the matching link
              // Using setTimeout to ensure that focus is called after other document ready scripts
              setTimeout(() => $(this).focus(), 0);

              // Add aria-current attribute
              $(this).attr('aria-current', 'page');

              // Check if icon exists, if not append it
              if ($(this).find('i.bi-caret-left-fill').length === 0) {
                  $(this).append('<i class="bi bi-caret-left-fill text-success" aria-hidden="true"></i>');
              }

              // Ensure all parent collapsible elements are expanded
              $(this).parents('.collapse').each(function() {
                  var targetId = $(this).attr('id');
                  if (!$(this).hasClass('show')) {
                      $(this).addClass('show');
                      $('button[data-bs-target="#' + targetId + '"]')
                          .attr('aria-expanded', 'true')
                          .removeClass('collapsed');
                  }
              });

              // Scroll the focused element into view if necessary
              var elementOffset = $(this).offset().top;
              if (elementOffset > $(window).height()) {
                  $('html, body').animate({
                      scrollTop: elementOffset
                  }, 1000);
              }

              return false; // Exit the loop after the first match
          }
      });
  });
</script>




<!-- Comment out for local development and enable for production -->

<script>
    $(document).ready(function() {
        // Select all links in the sidebar navigation except for index.html
        $("#sidebar-nav a").each(function() {
            // Get the current href attribute
            var currentHref = $(this).attr("href");
            
            // Add "/a11y-annotations" to the beginning of the href attribute
            var newHref = "/a11y-annotations" + currentHref;
            
            // Update the href attribute with the new value
            $(this).attr("href", newHref);
        });
    });
    $(document).ready(function() {
        // Select all <img> tags on the page
        $('img').each(function() {
            // Get the current src attribute
            var currentSrc = $(this).attr('src');
            
            // Check if the src attribute starts with '/'
            if (currentSrc && currentSrc.charAt(0) === '/') {
            // Add '/a11y-annotations' to the beginning of the src attribute
            $(this).attr('src', '/a11y-annotations' + currentSrc);
            }
        });
    });
</script>

