<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Color Contrast</title>

    <!-- Link to Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <!-- Link to Custom Stylesheet -->
    <link rel="stylesheet" href="../../../../assets/styles/custom.css">
    <!-- Link to Custom Stylesheet Production -->
    <link rel="stylesheet" href="../../../../../assets/styles/custom.css">
    <!-- Include Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
  <header class="d-block px-3 py-2 shadow">
    <img src="https://www.biointeractive.org/themes/gesso/images/hhmi-logo.svg" alt="hhmi Biointeractive logo" style="max-width: 320px;">
  </header>
  <div class="container-fluid">
      <div class="row">
          <!-- Includes the Sidebar Navigation using jQuery -->
          <div id="sidebar-container" class="col-md-2 border-end"></div>

          <!-- Main Content -->
          <main class="col-md-10">
            <!-- A11y Live Region -->
            <div aria-live="polite" id="page-live-region" class="visually-hidden"></div>
            <div class="container-xxl bd-gutter mt-3">
                <h1>Use of Color</h1>
                <!-- Begin Accordion -->
                <div class="accordion" id="accordionOpen">
                    <!-- Accordion Item One -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Standards SC 1.4.1 Level A
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" style="">
                        <div class="accordion-body">
                        <p>Color must not be used as the only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element.
                        </p>
                        </div>
                      </div>
                    </div>
                    <!-- Accordion Item Two -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          How to Test
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" style="">
                        <div class="accordion-body">
                        <ol role="list">
                          <li>Identify Color-Reliant Information:
                            Examine the design and identify any instances where color is used to convey information or distinguish visual elements. This may include things like:
                            <ul>
                              <li>Using red text to indicate errors.</li>
                              <li>Using green text to indicate success.</li>
                              <li>Using color-coded icons or labels to represent different categories or statuses.</li>
                              <li>Using color alone to indicate a link in a block of text.</li>
                            </ul>
                          </li>
                          <li>Check for Redundant Cues: Ensure that information or distinctions made through color are also conveyed using additional visual cues, such as text labels, icons, patterns, or shapes. This provides redundancy and ensures that people who cannot perceive color can still understand the content.</li>
                        </ol>
                        </div>
                      </div>
                    </div>
                    <!-- Accordion Item Three -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Use of Color Failure
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" style="">
                        <div class="accordion-body">
                          <div class="d-inline-block border border-dark p-2 rounded">
                            <div class="d-flex flex-row">
                              <div class="text-to-copy">
                                <ul role="list">
                                  <li>Color is used as the only visual means of conveying _________________.</li>
                                  <li><i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i> Warning: Color must not be the only visual indication.</li>
                                  <li>Recommendation: Add a non-color indicator such as an underline, symbol and/or text.</li>
                                </ul>
                              </div>
                              <div>
                                  <button class="ml-1r btn copy-btn">
                                    <i class="bi bi-clipboard-heart-fill" aria-hidden="true"></i> Copy
                                  </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Accordion Item Four -->
                    <div class="accordion-item">
                      <h2 class="accordion-item" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Resources
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" style="">
                        <div class="accordion-body">
                          <ul>
                            <li><a href="https://www.vischeck.com/" target="_blank">Vischeck</a></li>
                            <li><a href="http://colorlab.wickline.org/colorblind/colorlab/" target="_blank">AWARE Color Laboratory</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Color_blindness" target="_blank">Wikipedia: Color Blindness</a></li>
                            <li><a href="https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide-chromium/accessibility/test-color-blindness" target="_blank">Microsoft: Verify that a page is usable by people with color blindness</a></li>
                            <li><a href="http://www.webexhibits.org/causesofcolor/2C.html" target="_blank">Causes of Color: How do people inherit colorblindness? How often?: Genetics</a></li>
                            <li><a href="https://jfly.uni-koeln.de/color/" target="_blank">How to make figures and presentations that are friendly to Colorblind people</a></li>
                            <li><a href="https://colortutorial.design/tutor.html" target="_blank">The Color Tutor application</a></li>
                          </ul>                              
                        </div>
                      </div>
                    </div>
                    <!-- Accordion Item Five -->
                    <div class="accordion-item">
                      <h2 class="accordion-item" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        WCAG Guideline References
                        </button>
                      </h2>
                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" style="">
                        <div class="accordion-body">
                          <ul>
                            <li><a href="https://www.w3.org/TR/WCAG21/#use-of-color" target="_blank">WCAG 2.1 Recommendation 1.4.1 Use of Color</a></li>
                            <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/use-of-color" target="_blank">WCAG 2.1 Understanding 1.4.1 Use of Color (Level A)</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Accordion -->
                </main>
              </div>
            </div>

    <!-- Script links and jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../../../assets/js/global.js"></script>
    <!-- Link to Bootstrap JavaScript from CDN (including Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

    <!-- Add sidebar navigation to page -->
    <script>
      $(document).ready(function () {
          // Determine the path relative to the root directory
          var rootRelativePath = "../../sidebar-navigation.html";
  
          // Use jQuery to load the sidebar-navigation.html file
          $("#sidebar-container").load(rootRelativePath);
      });
    </script>
</body>
</html>
